* {
    color: #FFFFFF;
  }
  
  h1 {
    font-size: 48px;
    padding: 30px;
    margin: 120px 0px 0px;
  }

  section {
    background-color: #141b23;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding-bottom: 60px;
  }

  .container {
    width: 100%;
    max-width: 950px;
    padding-top: 60px;
    padding-bottom: 5px;
    text-align: left;
  }



  @media screen and (max-width: 999px) {
    * {
        margin: 0;
    }
   
   
    /* Class */
   
    .class {
      height: 136px;
    }
   
    /* Container */
   
    .container {
        padding: 40px 16px;
      }

      section {
        padding: 0px;
      }
   
    /* Títulos */
   
    h1 {
      font-size: 2em;
      margin: 0 20px;
      margin-top: 80px;
      padding: 0;
    }
   
    h3 {
      font-size: 20px;
      line-height: 33px;
      letter-spacing: -0.5px;
      padding-top: 48px;
    }
   
    .h33 {
      padding-top: 20px;
      font-size: 20px;
    }
   
    /* Column Text */
   
    .column-text {
      padding: 16px;
      margin-top: -40px;
      padding-bottom: -110px;
      width: 100%;
    }
   
    .titulo-column-text {
      font-size: 21px;
      line-height: 33px;
      letter-spacing: -0.7px;
      padding-top: 60px;
      padding-bottom: 15px;
    }
   
    /* Coluna Texto e Linha */
   
    .coluna-texto {
      padding: 16px;
      margin-top: -45px;
      padding-bottom: 20px;
      text-align: left;
      height: 100%;
      max-width: 1000px;
    }
   
    .linha {
      flex-direction: column;
      gap: 0px;
      width: 100%;
    }
 
    p {
        margin-left: 0;
        padding-left: 0px;
        text-align: left;
      }
  }

