<div class="class">
  <h1>Garantias de crédito</h1>
</div>

<section>
  <div class="container">
    <h3>PD Garantias</h3>
    <p>
      É um sistema eletrônico permite validar dentro do fluxo de propostas os
      limites sobre o valor do crédito, bem como a obrigatoriedade de tipos de
      garantias a serem oferecidas pelo mutuário para deferimento da proposta em
      análise.
    </p>
  </div>
  <div class="container">
    <div class="linha">
      <div class="coluna">
        <h3>Diminuindo os riscos de perdas</h3>
        <p>
          O princípio fundamental na concessão de operações de crédito exige uma
          avaliação do risco de não pagamento, onde insere a capacidade de
          retorno dos empréstimos e a segurança das garantias oferecidas. O
          módulo de Garantias de Crédito define as exigências mínimas para cada
          produto, que permite validar dentro do fluxo de propostas os limites
          sobre o valor do crédito, bem como a obrigatoriedade de tipos de
          garantias a serem oferecidas para aprovação da proposta em análise.
        </p>
      </div>
      <div class="coluna">
        <h3>Processo de validação</h3>
        <p>
          Dentro do trâmite das propostas administrada na fase de
          <a href="/analise-e-atendimento">ANÁLISE & ATENDIMENTO</a>, a verificação das exigências de
          garantias é fator impeditivo para aprovação do crédito, caso não
          esteja contemplada.
        </p>
        <p>
          O GESTOR DE CRÉDITO define os parâmetros do sistema para funcionar o
          módulo de GARANTIAS. Enquanto as LINHAS DE CRÉDITO criam bases de
          informações que são definidas pelo Banco central.
        </p>
        <p>
          A parametrização feita a partir das Linhas de Crédito é utilizada na
          validação e aceite das propostas, que fazem parte do contrato, que são
          aplicadas na emissão de contratos, bem como no envio do CADOC 3040 –
          Central de Risco.
        </p>
      </div>
    </div>
  </div>
  <div class="container-last">
    <div class="linha">
      <div class="coluna">
        <h3>Integração aos demais módulos</h3>
        <p>
          As funções do módulo de GARANTIAS são utilizadas pelos demais sistemas
          integrados, havendo necessidade mínima de acesso direto ao sistema. A
          menos das funções de parametrização, todas as etapas do processo de
          concessão de crédito são validadas através de serviços padronizados
          que aplicam as regras de negócios e retornam ao processo de origem o
          resultado das validações previstas.
        </p>
      </div>
      <div class="coluna">
        <h3>Processo de concessão de Crédito</h3>
        <ol>
          <li>
            Propostas de crédito são levantadas as garantias oferecidas pelo
            proponente e validadas de acordo com a LINHA DE CRÉDITO.
            <ol>
              <li>
                Se existe detecção de inconsistências a proposta é deferida.
              </li>
              <li>
                Se a proposta é deferida, as garantias são utilizadas na função
                de emissão do contrato.
              </li>
            </ol>
          </li>
          <li>
            As garantias são sujeitas a contabilização nas contas de compensação
            e nas contas do CADOC 3040.
          </li>
          <li>
              Outras funções, como reavaliação e execução de garantias são atendidas
              pelo sistema.
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
