<div class="class">
  <h1>Agendamento e débito automático</h1>
</div>

<section>
  <div class="container">
    <p class="p-normal">
      O AGENDAMENTO & DÉBITOS da PD CASE congrega padrões de validações que
      podem ser originados de arquivos enviados por empresas conveniadas no
      padrão FEBRABAN, ou por comandos executados nos canais de acesso aos
      clientes.
    </p>
    <br />
    <p class="p-normal">
      Os serviços de AGENDAMENTO de pagamentos permitem aos clientes uma melhor
      administração do fluxo de despesa, com uma visão antecipada de suas
      obrigações financeiras.
    </p>
    <br />
    <p class="p-normal">
      A padronização das funções de DÉBITO em conta canaliza os controles e
      ações de todas demandas sistêmicas em um único padrão de validação,
      verificação de origem e autenticação de dados para efetivação de
      lançamentos, com condicionantes de repescagem até que exista suficiência
      de saldos.
    </p>
  </div>
  <div class="container-blocos">
    <div class="bloco">
      <div class="verde">Seguindo o raciocínio</div>
      <div class="amarelo">
        <p>
          Seguindo aos padrões verificados na ARRECADAÇÃO, os débitos programados
          seguem os mesmos mecanismos de pagamentos, apenas diferindo com fonte de
          liquidação financeira a existência de CONTA CORRENTE movimento e a
          suficiência de saldo ou limite de crédito disponível.
        </p>
      </div>
    </div>
    <div class="bloco">
      <div class="verde">Assiduidade de pagamento</div>
      <div class="amarelo">
        <p>
          A AUTORIZAÇÃO DE DÉBITO define uma assiduidade de pagamentos do
          cliente com determinada empresa. As características desses débitos
          estão categorizadas em consumo permanente ao dia-a-dia.
        </p>
        <br />
        <p>
          O DÉBITO COMANDADO origina de faturas ou serviços enviados diretamente
          pela empresa favorecida, no qual a opção de pagamento é do cliente.
        </p>
      </div>
    </div>
    <div class="bloco">
      <div class="verde">Possibilidades</div>
      <div class="amarelo">
        <p>
          Existem ainda opções de realização de pagamentos de tributos, tais
          como DARF e GPS, e esses podem ser capturados via arquivo.
        </p>
        <br>
        <p>
          Podem ser acoplados pagamentos comandados via programação, tais com
          investimentos ou parcelamento de débito originados nas carteiras de
          crédito, que flui do modo padrão para a AGENDA DE DÉBITO.
        </p>
      </div>
    </div>
  </div>
</section>
