<div class="class">
  <h1>Simulação de crédito</h1>
</div>

<section class="container">
  <div class="column-text">
    <p>
      A simulação são cenários com a previsão de pagamentos do valor de crédito
      tomado, nas quais são consideradas as taxas, quantidade de prestações,
      periodicidade, tributos, método(PRICE, SAM, SAM) e custos
      acessórios(Seguros, taxas de cadastro, analise etc.).
    </p>

    <div class="linha">
      <div class="coluna-texto">
        <h3>Simulação Clássica</h3>
        <p>
          Na simulação classica é projetado o fluxo de caixa que distingui o
          reembolso de principal, juros, os tributos incidentes e saldo devedor
          a cada data de pagamento. Nos casos de renegociação e repactuação de
          dividas, a rotina de simulação também podem ser aplicada.
        </p>
      </div>
      <div class="coluna-texto">
        <h3>Nossa Simulação</h3>
        <p>
          No caso de ANTECIPAÇÃO DE RECEBÍVEIS são utilizados os boletos
          registrados, cheques caucionados e as vendas de cartões de crédito
          certificadas via módulo Domicilio Bancário. São aplicadas regras de
          seleção que ocasionam o menores custos financeiros que cubram o
          montante solicitado.
        </p>
      </div>
    </div>
    <h3 class="last">Sua Vantagem</h3>
    <p class="last2">
      A vantagem de poder faz cenários multiplos permite ao cliente escolher
      qual a melhor opção que se enquadra na sua capacidade de pagamentos, tendo
      visão do tempo, valor a ser pago, e juros incidentes e evolução do saldo
      devedor.
    </p>
  </div>
</section>
