<div class="class">
  <h1>Crédito web</h1>
</div>

<section>
  <div class="container">
    <h3>Simulações Facilitadas</h3>
    <p>
      A solução de “Credito Web” é uma alternativa de livre acesso em site
      institucional no qual pode ser feita a simulação de financiamento com
      mínimo de informações, que direcionam o cliente a escolha a finalidade do
      valor solicitado, tais com capital de giro, aquisição de bens ou serviços,
      área fim, dentre outros. Através da delimitação de faixa de valores são
      sugeridas parcelas e taxas prefixadas, dando diversos cenários de
      pagamentos.
    </p>
  </div>
  <div class="container">
    <h3>Especializada</h3>
    <p>
      Na realização dos cenários de operações pode ser confirmada a opção por
      requerimento de contatos para continuidade do processo de solicitação.
      Através de informação de email são comandadas mensagens de confirmação,
      com dados eletivos da necessidade de recursos. Nesse contexto, a demanda
      de crédito pode ser focada de acordo com especialização e área de atuação
      dos agentes de crédito, e todos os dados serem integrados ao módulo de
      <a href="analise-e-atendimento">ANÁLISE & ATENDIMENTO</a>.
    </p>
  </div>
</section>
