* {
    color: white;
}

h1 {
    font-size: 48px;
    padding: 30px;
    margin: 120px 0px 0px;
    opacity: 0.84;
}

p {
    font: 16px / 1.625 "Raleway", sans-serif;
    color: white;
    line-height: 27px;
    filter: contrast(12.83);
    opacity: 0.84;
}

.container {
    height: auto;
    background-color: #141B23;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 60px;
}

.column-text {
    max-width: 960px;
    text-align: left;
    padding: 0px -0px;
    margin-top: 13px;
}


a {
   text-decoration: none; 
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 50px;
}

.blocos {
    background-color: #f4bc1d;
    color: black;
    height: 74px ;
    width: 288px ;
    padding: 25px;
}

.bloco2 {
    background-color: #f4bc1d;
    color: black;
    height: 100px;
    width: 288px;
    padding: 25px;
    line-height: 25px;
}


a:hover .bloco2,
a:hover .blocos
{
    background-color: #a3c4bc;
    transition: background 0.3s;
}

@media screen and (max-width: 999px) {

    
 .class {
    height: 136px;
  }

    /* Formatação do texto */

    h1 {
        font-size: 2em;
        margin: 0 20px;
        margin-top: 80px;
        padding: 0;
      }

    h3 {
        font: 20px / 1.5 "Raleway", sans-serif;
        color: #FFFFFFD9;
        text-align: left;
        font-weight: 600;
        filter: contrast(12.83);
        letter-spacing: -0.4px;
        margin-top: 40px;
    }

    p {
        font: 16px / 1.625 "Raleway", sans-serif;
        color: white;
        line-height: 26px;
        filter: contrast(12.83);
    }

    /* Formatação dos grid e class */

    .grid {
        display: grid;
        margin-top: 0px;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .blocos,
    .bloco2 {
        width: 96vw;
        height: 58px;
        padding: 20px 0px 0px 17px;
    }

    /* Formatação do container */
    
    .container {
        padding-top: 20px;
    }

    /* Formatação do corpo */

    .column-text {
        max-width: 95%;
        text-align: left;
        margin-bottom: 40px;
    }
}