<div class="class">
  <h1>Informes legais</h1>
</div>

<section class="container">
  <div class="column-text">
    <p>
      Implantamos soluções e prestamos serviços legais que visam a adequação às
      normas e leis, redução de custos e que torne o dia a dia do negócio mais
      fácil, tanto no âmbito operacional quanto no gerencial.
    </p>

    <br>

    <p>
      Prover algo “Legal” é o grande objetivo. Em todos os sentidos da palavra,
      buscamos seguir uma metodologia rigorosa para fornecer informativos e
      sistemas legais de forma totalmente aderente aos nossos clientes, ou seja,
      regulado, sem problemas, bom, eficiente e positivo.
    </p>

  </div>

  <div class="grid">
    <a href="/central-de-risco-bacen"><div class="blocos">Central de risco BACEN</div></a>
    <a href="/requisicoes-judiciais"><div class="blocos">Requisições judiciais</div></a>
    <a href="/cadoc-3040"><div class="blocos">CADOC 3040</div></a>
    <a href="/cadoc-3050"><div class="blocos">CADOC 3050</div></a>
    <a href="/cadastro-positivo"><div class="blocos">Cadastro positivo</div></a>
    <a href="/e-financeira"><div class="blocos">E-financeira</div></a>
    <a href="/clientes-sfn"><div class="bloco2">Cadastro de clientes do SFN</div></a>
    <a href="/lavagem-de-dinheiro"><div class="bloco2">Prevenção de lavagem de dinheiro</div></a>
    <a href="/cta"><div class="bloco2">Centralizador de transferência de arquivos (CTA)</div></a>
  </div>
</section>
