@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

footer {
    width: 100vw;
    color: #FFFFFF;
}

footer h3 {
    opacity: 0.5;
    margin-bottom: 0.5em;
}

#footer-contents {
    background-color: #0A0F13;
    display: flex; /* Define o elemento 'lista' como um contêiner flexível para layout. */
    justify-content: space-between; /* Alinha os itens dentro da 'lista' com o máximo de espaço possível entre eles. */
    padding: 1em; /* Adiciona 1 unidade de espaço interno ao redor do conteúdo da 'lista'. */
}

#footer-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-social-media .footer-link{
    color: #FFFFFF;
}

img {
    width: 72px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
  }
