<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<footer>
    <div id="footer-contents">
        <ul class="footer-list">
            <li>
                <h3>Sobre</h3>
            </li>
            <li><a href="" class="footer-link">Quem somos</a></li>
            <li><a href="" class="footer-link">Carreiras</a></li>
            <li><a href="" class="footer-link">Contato</a></li>
            <li><a href="/politica-de-privacidade" class="footer-link">Política de Privacidade</a></li>
            <li><a href="" class="footer-link">Relátorio de Igualdade Salarial</a></li>
        </ul>

        <ul class="footer-list">
            <li>
                <h3>Produtos Financeiros</h3>
            </li>
            <li><a href="/core-bancario" class="footer-link">Core bancário</a></li>
            <li><a href="" class="footer-link">Portal de crédito</a></li>
            <li><a href="" class="footer-link">Agências de fomento</a></li>
            <li><a href="" class="footer-link">Mercado digital</a></li>
            <li><a href="" class="footer-link">Controladoria</a></li>
            <li><a href="" class="footer-link">Informes Legais</a></li>
        </ul>

        <ul class="footer-list">
            <li>
                <h3>Serviços</h3>
            </li>
            <li><a href="" class="footer-link">Fábrica de software</a></li>
            <li><a href="" class="footer-link">Carreiras</a></li>
            <li><a href="" class="footer-link">Outsourcing</a></li>
            <li><a href="" class="footer-link">Integração</a></li>
            <li><a href="" class="footer-link">Sustenção de sistemas</a></li>
            <li><a href="" class="footer-link">Porte de cobol</a></li>
        </ul>

        <div id="footer-contacts">
            <div id="logo">
                <img src="/logo-pd-branca.svg" alt="">
                <p id="copyright">&copy; 1991-2024 PD Case</p>
            </div>
            <div id="footer-social-media">
                <a href="#" class="footer-link" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#" class="footer-link" id="facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#" class="footer-link" id="linkedin">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
