<div class="class">
    <h1>Outsourcing</h1>
</div>
<section class="container">
    <div class="coluna-texto">
        <p>O serviço de Outsourcing é o processo em que uma organização contrata outra para desempenhar determinada
            função.</p>
        <br>
        <p>
            É ideal se o foco da sua empresa não é a Tecnologia da Informação, mas ao mesmo tempo ela é essencial para a
            execução da sua atividade principal.
        </p>
        <br>
        <br>
        <h3>Nossa experiência</h3>
        <p>A PD Case oferece soluções inovadoras e eficientes, com profissionais especializados em diversas áreas e
            expertises, bem como uma rica base de conhecimento que atende de maneira personalizada cada um de seus
            clientes.</p>
    </div>
</section>