* {
    color: white;
}

h1 {
    font-size: 48px;
    padding: 30px;
    margin: 120px 0px 0px;
}

h3 {
    font: 24.5px / 3.3 "Raleway", sans-serif;
    color: #FFFFFFD9;
    text-align: left;
    font-weight: 600;
    filter: contrast(12.83);
    letter-spacing: -0.4px;
}


p {
    font: 16px / 1.625 "Raleway", sans-serif;
    color: white;
    line-height: 26px;
    opacity: 0.85;
}

.container {
    height: auto;
    background-color: #141B23;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 60px;
}

.coluna-texto {
    max-width: 456px; 
    text-align: left;
}

.linha {
    display: flex;
    gap: 50px;
}