<header>
  <nav id="nav">
    <a class="brand" href="/">
      <img id="logo-white" class="logo" src="/logo.svg" alt="Logo Branca" />
      <img id="logo-black" class="logo" src="/pd-preto.svg" alt="Logo Preta" />
    </a>

    <div id="barra">
      <a (click)="scrollTo('sessao1')" id="quadrado1"></a>
      <a (click)="scrollTo('sessao2')" id="quadrado2"></a>
      <a (click)="scrollTo('sessao3')" id="quadrado3"></a>
      <a (click)="scrollTo('sessao4')" id="quadrado4"></a>
    </div>

    <ul class="links">
      <li><a href="/about">Sobre</a></li>
      <li><a href="/services">Serviços</a></li>
      <li><a href="/carreiras">Carreiras</a></li>
      <li><a href="/contact">Contato</a></li>
    </ul>
  </nav>
</header>
