* {
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 0px 296px;
  top: 0;
  transition: 0.5s;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2em 5em;
  margin-top: 2em;
}

/* Estilizagem da brand */

.brand,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
}

.brand img {
  width: 72px;
  margin-right: 0.4em;
}

/* Estilizagem dos links */

.links {
  margin-top: -30px;
}

.links li {
  margin-right: 0.3em;
  list-style: none;
}

.links a {
  border-radius: 24px;
  padding: 11px 22px;
  color: var(--cor-fonte);
  position: relative;
  text-decoration: none;
  font-size: 16px;
  transition: color 1s ease;
}

/* Estilos para o efeito de sublinhado */

.links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--cor-fonte);
  transition: width 0.18s ease, left 0.3s ease;
}

.links a:hover::after {
  width: 100%;
  left: 0;
}

.mobile-menu,
.mobile-menu-icon {
  display: none;
}

#barra {
  /* Define a posição do elemento como absoluta, permitindo que ele seja posicionado em relação ao seu elemento pai ou ao corpo da página */
  position: absolute;

  /* Define a margem superior de 5.5em e margens laterais e inferior em 0. Isso posiciona a barra a 5.5em abaixo do topo do seu pai */
  margin: 4em 0 0 0;

  /* Define a largura da barra como 72px */
  width: 72px;

  /* Define a altura da barra como 12px */
  height: 12px;

  /* Usa flexbox para distribuir os itens filhos ao longo da barra, permitindo um layout flexível */
  display: flex;

  /* Aplica uma sombra interna de 1px ao redor da barra, com uma cor preta em 20% de opacidade. Isso cria um efeito de borda */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;

  /* Define o índice z como -1, o que coloca a barra atrás de outros elementos com um índice z maior */
  z-index: 1;

  /* Define uma transição suave para todos os estilos, que levará 0,6 segundos e terá um efeito de easing 'ease-in-out' */
  transition: all 0.6s ease-in-out;

  filter: invert(1);
}

#barra a {
  /* Faz com que cada link dentro da barra ocupe uma parte igual da largura total disponível, se espalhando igualmente */
  flex: 1;
}

#barra a:hover {
  transition: all 0.6s ease-in-out;
  /* Quando o mouse passa sobre o link, a cor de fundo muda para um tom preto transparente com opacidade de 20% */
  background: rgba(0, 0, 0, 0.2);
}

#quadrado1 {
  transition: all 0.6s ease-in-out;
  box-shadow: 0 0 0 1px #000 inset;
}

#quadrado2 {
  transition: all 0.6s ease-in-out;
  box-shadow: none;
}

#quadrado3 {
  transition: all 0.6s ease-in-out;
  box-shadow: none;
}

#quadrado4 {
  transition: all 0.6s ease-in-out;
  box-shadow: none;
}

.logo {
  margin-left: 23.5em;
  margin-top: 1.8em;
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  opacity: 0;
  transform: translateY(50px);
  /* Começa fora da tela */
  transition: opacity 0s ease, transform 0.2s ease;
}

.logo.active {
  opacity: 1;
  transform: translateY(0);
  /* Volta para sua posição original */
}

.logo-exit1 {
  opacity: 0;
  transform: translateY(-50px);
  /* Sai para cima */
}

.logo-exit2 {
  opacity: 0;
  transform: translateY(50px);
  /* Sai para cima */
}

@media screen and (max-width: 999px) {
  a {
    display: none;
  }

  .logo {
    margin: 0px 0px 0px 20px;
    height: 80px;
  }

  #barra {
    display: none;
  }
}
