.container {
    height: 60vh;
    background-color: #141B23;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

body, input, textarea, select {
    font: 16px / 1.625 "Raleway", sans-serif;
    background: var(--cor-bg);
    color: var(--cor-fonte);
}

img.tam-100 {
    width: 100%;
    height: 10px;
    left: 500px;
    float: right;
}

h1 {
    font-size: 48px;
    padding: 30px;
    margin: 120px 0px 0px;
    margin-left: 3.9em;
}


.container {
    display: grid;
    gap: calc(var(--margem)* 2);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.paragrafo {
    background-color: #243650;
    padding: 30px;
}

.email {
    color: white;
}

.caixa1 {
    background-color: #A3C4BC;
    color: black;
    padding: 20px;
}

.caixa2 {
    background-color: #F4BC1D;
    color: black;
}