<div class="class">
  <h1>Contato</h1>
</div>
<section class="container">
  <div class="grid">
    <img src="/brasil.svg" alt="">
    <div class="bloco">
      <p>Para atender as demandas de serviços em todo o território nacional, a PD Case estabeleceu sua matriz em Minas
        Gerais, além de escritórios regionais em Belém, Fortaleza, São Luís e Vitória, atuando ainda em projetos em
        outros
        estados.</p>
      <br>
      <a class="email" href="mailto:comercial@pdcase.com.br">comercialpdcase.com.br</a>
    </div>
    <div class="bloco2">
      <div class="verde">Minas Gerais</div>
      <div class="amarelo">
        +55 (31) 3505-1940
      </div>
    </div>
  </div>
</section>