<div class="class">
    <h1>Mercado digital</h1>
</div>
<section class="container">
    <div class="coluna-texto">
        <p>Os serviços vêm se ampliando ao longo do tempo. Cabe a cada um de nós da PD Case a tarefa de conhecê-los
            melhor e, dessa forma, buscamos garantir a satisfação e nossos clientes.
        </p>
        <br>
        <p>Com o avanço da internet, hoje os bancos, por meio de seus portais eletrônicos, podem proporcionar um
            verdadeiro cardápio de seus serviços: opções de investimentos, modalidades de seguro, consórcios,
            empréstimos, planos de previdência entre outros. Dessa forma, pode ficar muito mais fácil para seus clientes
            apurarem informações e realizarem procedimentos, o que agiliza o atendimento.</p>
        <br>
        <p>Para além do setor bancário, podemos proporcionar a qualquer negócio, anunciar, agilizar processos e reduzir
            custos. Assim, ajudar a se manter firme e competitivo no mercado</p>
    </div>
    <div class="grid">
        <a href="/">
            <div class="blocos">Gerenciador financeiro</div>
        </a>
        <a href="/">
            <div class="blocos">Mobile</div>
        </a>
        <a href="/">
            <div class="blocos">Mensagens SMS</div>
        </a>
    </div>
</section>