<div class="class">
  <h1>SPED</h1>
</div>

<section class="container">
  <div class="column-text">
    <h3 class="first">Sistema Público de Escrituração Digital</h3>
    <p>
      A solução SPED da PDCASE absorve informações derivadas dos módulos de
      <a href="/gestao-contabil">Contabilidade</a> e <a href="/gestao-tributaria">Gestão tributária</a>, de modo a diminuir a necessidade de
      novas informações para atendimento de todas as demandas obrigatórias
      requeridas nas diversas especificações fornecidas pela Receita Federal.
    </p>
    <h3 class="h33">O problema</h3>
    <p>
      O advento do SPED aprimorou os controles e acompanhamento da RFB – Receita
      Federal do Brasil sobre as obrigações fiscais, tributárias e contábeis das
      empresas.
    </p>
    <br />
    <p>
      Todas as empresas optantes pelo regime de lucro real foram afetadas na
      prestação de contas das suas posições financeiras. Particularmente as
      empresas financeiras foram obrigadas a enviar as informações nos formatos
      definidos pelo FCONT, SPED CONTÁBIL e EFD-Contribuições.
    </p>
    <h3 class="h33">A solução</h3>
    <p>
      A solução SPED da PDCASE absorve informações derivadas dos módulos de
      <a href="/gestao-contabil">Contabilidade</a> e <a href="/gestao-tributaria">Gestão tributária</a>, de modo a diminuir a necessidade de
      novas informações para atendimento de todas as demandas obrigatórias
      requeridas nas diversas especificações fornecidas pela RFB.
    </p>
    <br />
    <p>
      A adequação e atendimento das informações previstas nos diversos arquivos
      requer pouca intervenção com novas entradas para composição dos dados a
      serem importados pelos aplicativos fornecidos no site da RFB.
    </p>
    <h3 class="h33">Módulos atendidos</h3>
    <p>
      O advento do SPED – Sistema Público de Escrituração Digital – instituido
      pela Receita Federal do Brasil insere uma série de obrigações de
      informações legais que devem ser enviadas periodicamente de acordo com
      cada tipo de calendário.
    </p>
    <br />
    <p>
      A origem de geração dos dados são basicamente no sistema de Contabilidade
      e sistema de negócios que mantém informações dos clientes.
    </p>
    <ol>
      <li>ECD <span>Escrituração Contábil Digital (ou SPED Contábil)</span></li>
      <li>
        ECF
        <span
          >Escrituração Contábil Fiscal (blocos exclusivos para mercado
          financeiro)</span
        >
      </li>
      <li>
        E-FINANCEIRA
        <span
          >Conjunto de arquivos digitais referentes a cadastro, abertura,
          fechamento e auxiliares, e pelo módulo de operações financeiras</span
        >
      </li>
      <li>
        EFD-Contribuições
        <span
          >Cálculo mensal de PIS/COFINS sobre as receitas auferidas de cada
          competência</span
        >
      </li>
    </ol>
    <div class="container-blocos">
      <div class="bloco">
        <div class="verde">Validando arquivos</div>
        <div class="amarelo">
          <p class="p-black">
            Cada tipo de arquivo definido no SPED possui layout e programa
            validador(PVA) especifico que faz a validação de dados de acordo com
            regras previstas. Nos casos em que os tipos de dados são comuns é
            exigido o preenchimento dos dados uma única vez.
          </p>
        </div>
      </div>
      <div class="bloco">
        <div class="verde">Exportando arquivos</div>
        <div class="amarelo">
          <p class="p-black">
            Na execução do processo de exportação de arquivo são feitas
            validações dos dados requeridos, de tal forma que somente é
            processado desde que não existam pendências nos sistemas.
          </p>
          <br />
          <p class="p-black">
            Para cada tipo de arquivo a ser exportado é definida transação
            diferenciada com a composição dos campos de comando de acordo com
            exigências de manuais.
          </p>
        </div>
      </div>
      <div class="bloco">
        <div class="verde">Evitando penalização</div>
        <div class="amarelo">
          <p class="p-black">
            O atendimento da prestação de contas do SPED evita a penalização
            pelo não fornecimento dentro do calendário previsto pela RFB, sem
            ainda criar novos custos de processamento, licenciamento e
            administração de sistemas.
          </p>
          <br />
          <p class="p-black">
            As especificações dos arquivos e validações feitas no sistema são
            baseadas nos
            <a href="http://sped.rfb.gov.br/" class="last"
              >documentos públicos fornecidos pela RFB</a
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
