<div class="class">
  <h1>Centralizador de transferência de arquivos (CTA)</h1>
</div>
<section class="container">
  <div class="column-text">
    <h3>PDCTA (STA BACEN)</h3>
    <p>Sistema Centralizador de Transferência de Arquivos, é a solução corporativa que substitui os aplicativos PSTAW10
      e PSTAC10 do BACEN. Gerencia, transmite e controla o histórico dos envios de arquivos ao BACEN em um só lugar.</p>
    <br>
    <p>Com interface e usabilidade muito mais fácil e amigável. O padrão visual do PD_CTA assemelha-se ao STA do BACEN,
      reduzindo assim a curva de aprendizagem dos usuários.</p>
    <br>
    <p>Transforma as rotinas corriqueiras executadas por usuários, de envio e recebimento de arquivos, em ações
      automáticas executadas pelo sistema.</p>
  </div>
  <div class="linha">
    <div class="coluna-texto">
      <h3>Reduz custos</h3>
      <ul>
        <li>Diminui a complexidade na adequação de sistemas ao consumo do web services do BACEN.</li>
        <li>Redução na manutenção evolutiva, por conta de melhorias implementadas no STA.</li>
        <li>Aumento da disponibilidade dos responsáveis pelo envio manual dos documentos.</li>
      </ul>
    </div>
    <div class="coluna-texto">
      <h3>Diminui riscos</h3>
      <ul>
        <li>Redução de riscos operacionais com a implementação de processos executados por serviços agendados.</li>
        <li>Validação de arquivos XML de forma integrada e com controle histórico de versões do XSD.</li>
        <li>Arquivos disponíveis para a IF baixados assim que disponibilizados.</li>
      </ul>
    </div>
    <div class="coluna-texto">
      <h3>Melhora o controle</h3>
      <ul>
        <li>Permite que o ciclo de vida de um arquivo seja rastreado.</li>
        <li>Controle de acesso aos dados por usuário, sem a necessidade de cadastramento junto ao BACEN.</li>
        <li>Envio de Email para pessoas relacionadas ao Documento em cada fase do processo.</li>
      </ul>
    </div>
  </div>
  <div class="func">
    <h3>Funcionalidades</h3>
  </div>
  <div class="grid">
    <div class="bloco1">
      <div class="verde">Uploads</div>
      <div class="amarelo">
        <p>O envio de arquivos pode ser executado de três formas diferentes:</p>
        <ul>
          <li><span>Síncrona:</span> para sistemas que necessitam de uma confirmação de envio
            dentro do ciclo de vida da transação, o PD_CTA disponibiliza um Web
            Service.</li>
          <li><span>Assíncrona:</span> um serviço pré-agendado para horários a definir, irá
            recuperar o arquivo disponibilizado e se encarregará de realizar o
            envio. Após confirmação de recebimento pelo BACEN um XML de resposta
            estará disponível.</li>
          <li><span>Contingência:</span> para situações onde as duas anteriores não tiveram
            efetividade o usuário poderá fazer o envio manualmente.</li>
        </ul>
      </div>
    </div>
    <div class="blocos">
      <div class="verde2">Download</div>
      <div class="amarelo2">O recebimento de arquivos é realizado de duas formas: Assíncrona e Contingência.</div>
    </div>
    <div class="blocos">
      <div class="verde2">Consulta</div>
      <div class="amarelo2">Estado dos arquivos atualizados de forma automática ou através do acesso a tela do PD_CTA.</div>
    </div>
  </div>
</section>