<div class="class">
    <h1>Mobile</h1>
</div>

<section class="container">
    <div class="column-text">
        <h3>Aplicativos móveis</h3>
        <p>Os smartphones são a extensão do corpo humano e os aplicativos são criados para complementar a vida das
            pessoas.</p>
        <br>
        <p>A PD Case possui vasta experiência em desenvolvimento de aplicativos móveis para Android, IOS e Windows
            Phone. Provemos a melhor experiência ao usuário, criando aplicativos que de fato agregam praticidade ao seu
            negócio.</p>
        <br>
        <p>
            E a forma como compramos produtos e serviços, como trabalhamos, nos divertimos e como nos relacionamos
            também mudou.
        </p>
        <br>
        <p>A adoção de smartphones no Brasil tem sido cada vez mais rápida. Uma recente pesquisa do IDC divulgada pela
            ABINEE (Associação Brasileira da Indústria Elétrica e Eletrônica) aponta que 76% dos celulares vendidos no
            Brasil já são smartphones. O segmento de smartphones deve crescer 30% neste ano.</p>
        <h3>Negócios Mobile</h3>
        <p>Cada vez mais, as pessoas estão usando smartphones para resolver seus problemas do dia-a-dia. Algumas
            empresas já começaram a incorporar o comportamento “sempre-ligado” aos seus negócios.</p>
        <br>
        <p>Se você tem uma ideia, serviço ou produto e deseja levar para o mundo mobile ou usar o poder dos aplicativos
            para impulsionar seu negócio, nós podemos ajudar.</p>
        <br>
        <p>Comprometimento ético com nossos valores</p>
        <h3>Fazendo a diferença!</h3>
        <ul>
            <li>Equipe apaixonada e entusiasmada com os seus projetos</li>
            <li>Ambiente agradável que propicia liberdade criativa</li>
            <li>Priorização na experiencia dos usuários</li>
            <li>Compromentimento ético com nossos valores</li>
        </ul>
        <h3 class="h33">Desenvolvimento de Aplicativos</h3>
        <p>Criamos aplicativos de uma nova geração que ampliam o valor da sua marca para seus clientes, em todos os
            lugares.</p>
        <br>
        <p>Os aplicativos oferecem à sua empresa informações sobre seus produtos ou serviços, integrados às suas
            estratégias de comunicação e marketing de forma que os seus funcionários e clientes realmente fiquem sempre
            bem informados.</p>
    </div>
</section>