<div class="class">
    <h1>Portal de crédito</h1>
</div>
<section class="container">
    <div class="container-principal">
        <div class="coluna-texto">
            <h3>Empréstimos e financiamento</h3>
            <p>A concessão de crédito é o instrumento principal das instituições financeiras para alavancagem de
                receitas.
                Porém, é a área de negócios onde existe maior risco de perdas decorrentes da inadimplência da carteira,
                que
                ocasiona em comprometimento do capital próprio. A liberação de crédito requer formas diferenciadas de
                tratamento das necessidades do cliente, nos quais devem ser considerados os prazos, valores solicitados,
                garantidas oferecidas, forma de reembolso, que requerem processos, também diferenciados para
                contemplação do
                crédito.
            </p>
            <br>
            <p>A abordagem pode ser feita através de empréstimos, onde o cliente tem livre escolha na aplicação do valor
                concedido, ou de financiamentos, na qual é requerido um estudo com foco na finalidade descrita para uso
                do
                recurso solicitado.</p>
            <br>
            <p>Os módulos a seguir descrevem de forma resumida os processos de negócios empreendidos no gerenciamento
                das
                informações, com vista a atender a gestão de carteira de crédito.</p>
            <br>
            <h3>Módulos</h3>
        </div>
        <div class="grid">
            <a href="/">
                <div class="blocos">Rotativo</div>
            </a>
            <a href="/estruturado-parcelado">
                <div class="blocos">Estruturado (Parcelado)</div>
            </a>
            <a href="/">
                <div class="blocos">Microcrédito</div>
            </a>
            <a href="/">
                <div class="bloco2">Consignação e controle de margem</div>
            </a>
            <a href="/credito-direto-ao-consumidor">
                <div class="bloco2">Crédito direto ao consumidor</div>
            </a>
            <a href="/">
                <div class="bloco2">Crédito de desenvolvimento</div>
            </a>
            <a href="/antecipacao-de-recebiveis">
                <div class="bloco2">Antecipação de recebíveis</div>
            </a>
            <a href="/">
                <div class="bloco2">Autorização e monitoração de crédito</div>
            </a>
            <a href="/">
                <div class="bloco2">Rede de compras (Cartões)</div>
            </a>
            <a href="/">
                <div class="blocos">Fundo garantidor</div>
            </a>
            <a href="/">
                <div class="blocos">Recuperação de crédito</div>
            </a>
            <a href="/">
                <div class="blocos">Cessão de crédito</div>
            </a>
            <a href="/">
                <div class="blocos">Gestão de fundos</div>
            </a>
            <a href="/">
                <div class="blocos">Crédito Web</div>
            </a>
            <a href="/">
                <div class="blocos">Garantias de crédito</div>
            </a>
            <a href="/">
                <div class="bloco2">Gerencial e informativos de carteira</div>
            </a>
            <a href="/">
                <div class="bloco2">Gestão de carteira em prejuízo</div>
            </a>
            <a href="/">
                <div class="bloco2">Análise e atendimento (Esteira de crédito)</div>
            </a>
        </div>
    </div>
</section>