* {
    font-family: 'Volkorn', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    text-align: center;
    background: url(/logo-bg2.svg) 20% center / auto 110%, url(/logo-bg2.svg) 0 center / auto 160% fixed, radial-gradient(ellipse at left top, var(--cor-primaria), #000);
    height: 100vh;
    /* Define a altura do container para a tela inteira */
}

.container h1 {
    font: 64px / 1.625 "Vollkorn", sans-serif;
    color: white;
    float: left;
    text-align: left;
    line-height: 0.9;
    margin-bottom: 1rem;
    
}

.container h2 {
    font: 24px / 1.625 "Raleway", sans-serif;
    text-decoration: none;
    color: white;
    text-align: left;
    margin-top: 5.6em;
    line-height: 3;
}

.container span {
    background-color: #243650;
    font: 64px / 1.625 "Vollkorn", sans-serif;
    padding: 0 8px;
    color: white;
}

.container a {
    text-decoration: none;
}

.ico {
    display: flex;
    margin-top: 1em;
    transition: .2s ease-in-out;
}

.manchete .ico {
    filter: invert(1);
}

.container a:hover .ico {
    transform: translateX(10px); /* Anima a seta para a direita */
    transition: transform 0.3s ease-in-out;
}