.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    text-align: center;
    background: url(/logo-bg2.svg) 20% center / auto 110%, url(/logo-bg2.svg) 0 center / auto 160% fixed, radial-gradient(ellipse at left top, var(--cor-primaria), #000);
    height: 100vh;           /* Define a altura do container para a tela inteira */
}
    
.container h1 {
    font: 64px / 1.625 "Vollkorn", sans-serif;
    color: white;
    text-align: left;
    line-height: 0.9;
}

.container h2 {
    font: 24px / 1.625 "Raleway", sans-serif;
    color: white;
    float: left;
    line-height: 4;
    
    
}


.container span {
    background-color: #243650;
    font: 64px / 1.625 "Vollkorn", sans-serif;
    padding: 0 7.6px;
}

.container span:before {
        content: "";                         /* Adiciona um elemento vazio */
        position: absolute;
        top: -5px;                           /* Ajusta a posição do quadrado */
        left: -5px;
        width: 20px;                         /* Define o tamanho do quadrado */
        height: 20px;
        background-color: yellow;              /* Cor do quadrado */
        z-index: -1;                         /* Coloca o quadrado atrás do texto */
      }

.container a {
    text-decoration: none;
}

.container img {
    transform: translate(-440px, 80px)
}