<div class="class">
    <h1>Fábrica de Software</h1>
</div>
<section class="container">
    <div class="coluna-texto">
        <p>Com o mercado cada vez mais globalizado e competitivo é essencial a redução de custos dos produtos de
            mercado. Como nos outros segmentos, em especial na indústria de manufatura, a utilização do conceito de
            fábrica proporciona o aumento da eficiência obtendo ganhos com produtividade, organização e padronização,
            que, além de reduzir os custos, elevam substancialmente a qualidade dos softwares produzidos.</p>
        <p>No caso da Fábrica de Software, a separação entre o trabalho de especificação e de implementação /
            construção, permite a especialização e segregação de funções com a consequente produção em escala.</p>
        <p>Ciente disto, a PD Case criou sua Fábrica de Software utilizando padrões e processos bem definidos a fim de
            garantir produtos de qualidade integrando as diversas fases, desde o levantamento até a entrega do produto
            final.</p>
        <h3>Criação da Fábrica de Software</h3>
        <p>A PDCASE criou sua Fábrica de Software utilizando padrões e processos bem definidos a fim de garantir
            produtos de qualidade integrando as diversas fases, desde o levantamento até a entrega do produto final.</p>
        <h3>Expertise Adquirida e Confirmada</h3>
        <p>A expertise adquirida em desenvolvimento de softwares utilizando processos de fábrica, fez com que a PD Case
            se tornasse uma das primeiras empresas brasileira a buscar a implementação e avaliação do modelo MPS BR
            Nível C, equivalente ao CMMI Nível 3.</p>
        <h3>Processos</h3>
        <p>Os processos da Fábrica de Software englobam todas as fases do ciclo de vida de um projeto, especificando os
            requisitos adequadamente, efetuando rastreabilidade horizontal e vertical, desenvolvendo códigos através das
            melhores práticas, obedecendo a critérios de medição de qualidade, por meio de uma gestão de configuração
            eficiente.</p>
        <h3>Metodologia</h3>
        <p>Para suportar o processo de desenvolvimento e obter maiores ganhos em escala, a Fábrica de Software utiliza
            metodologias baseadas em ferramentas de apoio amplamente difundidas no mercado como os frameworks JBoss Seam
            no mundo Open Source e .Net para tecnologia Microsoft. Com padrões e processos bem definidos de acordo com o
            PDS Processo de Desenvolvimento de software, prática que visa a garantia de produtos de alta qualidade
            integrando as diversas fases, desde o levantamento até o produto final.</p>
        <h3>Funcionalidades</h3>
        <p>A incorporação de funcionalidades dos frameworks à ampla biblioteca própria de códigos já desenvolvidos,
            garantem reutilização na construção de novos componentes de software. São estes principais componentes que
            fortalecem a Fábrica de Software da PD Case na oferta de respostas às necessidades dos clientes, com
            produtividade e qualidade.</p>
    </div>
</section>