<div class="class">
  <h1>Agências de fomento</h1>
</div>

<section class="container">
  <div class="coluna-texto">
    <h3>Financiando para empreender</h3>
    <p>
      Com a experiência adquirida em mais de 20 anos de atuação em projetos e
      implantação de soluções de negócios para o mercado financeiro, a PD Case
      oferece um conjunto de módulos funcionais para gerenciamentos de processos
      de crédito, que abrange as etapas de análise e concessão de crédito, bem
      como a administração de carteiras e gestão e cobrança.
    </p>
    <br />
    <p>
      A PD Case, na parte legal suporta todas as demandas exigidas pelo Banco
      Central e Receita Federal. Na gestão de Riscos, os módulos da PD Case se
      integram aos sistemas da Élin Duxus, que é uma referência no fornecimento
      de soluções definidas pela Resolução 3490 do Banco Central.
    </p>
    <br />
    <p>
      O perfil das soluções atende aos processos de negócios de Agências de
      Fomento, Bancos focados na concessão de crédito, Bancos de
      Desenvolvimento, cooperativas de Crédito, dentre outros.
    </p>
    <br>
    <h3>Principais diferenciais da arquitetura</h3>
    <ul>
      <li>
        Integração com soluções de outros fornecedores através do padrão de
        comunicação Windows;
      </li>
      <li>Modularidade que permite aquisição de módulos independentes;</li>
      <li>Plataforma 100% web;</li>
      <li>Interface no padrão SOA;</li>
      <li>Independente do SGBD.</li>
    </ul>
    <br>
    <h3>Módulos</h3>
  </div>
  <div class="grid">
    <a href="/cadastro-pessoas" class="bloco">Cadastro de pessoas </a>
    <a href="/cobranca-de-credito" class="bloco">Cobrança & renegociação</a>
    <a href="/analise-e-atendimento" class="bloco">Análise & atendimento</a>
    <a href="/gestao-fundos" class="bloco">Gestão de fundos</a>
    <a href="/gestao-contabil" class="bloco">Gestão contábil</a>
    <a href="/gestao-tributaria" class="bloco">Gestão tributos</a>
    <a href="/garantias-de-credito" class="bloco">Garantias de crédito</a>
    <a href="/avaliacao-de-riscos" class="bloco">Avaliação de risco</a>
    <a href="/central-de-risco" class="bloco">Central de risco de crédito</a>
    <a href="/info-carteira" class="bloco">Gerencial</a>
    <a href="/gestao-de-credito" class="bloco">Gestão de crédito</a>
    <a href="/sped" class="bloco">SPED</a>
    <a href="/recuperacao-de-credito" class="bloco">Recuperação de crédito</a>
    <a href="/contratos-em-prejuizos" class="bloco">Contratos em prejuízo</a>
  </div>
</section>