<div class="class">
  <h1>Agências de fomento</h1>
</div>

<section>
  <div class="container">
    <h3>Financiando para empreender</h3>
    <p>
      Com a experiência adquirida em mais de 20 anos de atuação em projetos e
      implantação de soluções de negócios para o mercado financeiro, a PD Case
      oferece um conjunto de módulos funcionais para gerenciamentos de processos
      de crédito, que abrange as etapas de análise e concessão de crédito, bem
      como a administração de carteiras e gestão e cobrança.
    </p>
    <br />
    <p>
      A PD Case, na parte legal suporta todas as demandas exigidas pelo Banco
      Central e Receita Federal. Na gestão de Riscos, os módulos da PD Case se
      integram aos sistemas da Élin Duxus, que é uma referência no fornecimento
      de soluções definidas pela Resolução 3490 do Banco Central.
    </p>
    <br />
    <p>
      O perfil das soluções atende aos processos de negócios de Agências de
      Fomento, Bancos focados na concessão de crédito, Bancos de
      Desenvolvimento, cooperativas de Crédito, dentre outros.
    </p>
  </div>
  <div class="container-lista">
    <h3>Principais diferenciais da arquitetura</h3>
    <ul>
      <li>
        Integração com soluções de outros fornecedores através do padrão de
        comunicação Windows;
      </li>
      <li>Modularidade que permite aquisição de módulos independentes;</li>
      <li>Plataforma 100% web;</li>
      <li>Interface no padrão SOA;</li>
      <li>Independente do SGBD.</li>
    </ul>
  </div>
  <div class="container">
    <h3>Módulos</h3>
  </div>
  <div class="container-blocos">
      <a href="/cadastro-pessoas" class="bloco"><div class="amarelo"><h4>Cadastro de pessoas</h4></div></a>
      <a href="/cobranca-de-credito" class="bloco"><div class="amarelo"><h4>Cobrança & renegociação</h4></div></a>
      <a href="/analise-e-atendimento" class="bloco"><div class="amarelo"><h4>Análise & atendimento</h4></div></a>
      <a href="/gestao-fundos" class="bloco"><div class="amarelo"><h4>Gestão de fundos</h4></div></a>
      <a href="/gestao-contabil" class="bloco"><div class="amarelo"><h4>Gestão contábil</h4></div></a>
      <a href="/gestao-tributaria" class="bloco"><div class="amarelo"><h4>Gestão tributos</h4></div></a>
      <a href="/garantias-de-credito" class="bloco"><div class="amarelo"><h4>Garantias de crédito</h4></div></a>
      <a href="/avaliacao-de-riscos" class="bloco"><div class="amarelo"><h4>Avaliação de risco</h4></div></a>
      <a href="/central-de-risco" class="bloco"><div class="amarelo"><h4>Central de risco de crédito</h4></div></a>
      <a href="" class="bloco"><div class="amarelo"><h4>Gerencial</h4></div></a>
      <a href="" class="bloco"><div class="amarelo"><h4>Gestão de crédito</h4></div></a>
      <a href="" class="bloco"><div class="amarelo"><h4>SPED</h4></div></a>
      <a href="" class="bloco"><div class="amarelo"><h4>Recuperação de crédito</h4></div></a>
      <a href="" class="bloco"><div class="amarelo"><h4>Contratos em prejuízos</h4></div></a>
      <a href="" class="bloco"></a>
  </div>
</section>
