<div class="class">
  <h1>Linhas de crédito</h1>
</div>

<section class="container">
  <div class="column-text">
    <h3>Oferta e Demanda</h3>
    <p>
      A oferta de financiamentos é fundamentada na destinação do capital
      informada pelo cliente. O direcionamento para realização da concessão de
      crédito pode ser facilitada através da indicação da necessidade de
      crédito. Através da escolha do tipo e item a ser financiado pode ser
      facilitado a seleção da melhor linha de crédito, destacando ainda a
      possibilidade do objeto do financiamento ser dado como garantia e parte de
      capital próprio requerido para efetivação do crédito.
    </p>
  </div>

  <div class="linha">
    <div class="coluna-texto">
      <h3>Conceito</h3>
      <p>
        LINHAS DE CRÉDITO é vinculado ao produto de crédito, que permite formar
        uma visão do que cliente necessita ao requerer uma opção de empréstimos
        na instituição. Internamente existem outras demandas de processamento e
        integrações aos demais controles mantidos nos demais sistemas. É
        importante neste sentido, que ao definir um produto de crédito, as
        demais áreas envolvidas nos controles internos da instituição tenham o
        conhecimento das atribuições para implementação plena do produto, com
        todas as exigências, tanto para o público externo (Clientes), quanto aos
        requisitos internos.
      </p>
    </div>
    <div class="coluna-texto">
      <h3>Processo</h3>
      <p>
        Os parâmetros definidos na LINHAS DE CRÉDITO resultam nas regras a serem
        tratadas desde o momento do enquadramento até a liquidação final de uma
        operação qualquer. As restrições decorrentes do processo de AVALIAÇÃO DE
        RISCO DE CRÉDITO são funções anteriores à concessão de crédito, que são
        customizadas ao módulo de ANÁLISE & ATENDIMENTO. De acordo com o LIMITE
        DE RISCO e CLASSIFICAÇÃO calculada são feitas sinalizações para
        continuidade de concessão.
      </p>
    </div>
  </div>
</section>
