<div class="class">
  <h1>Carreiras</h1>
</div>
<body>
  <section class="container">
    <div class="linha">
        <div class="coluna col-2">
    <p>
      Com mais de 30 anos de mercado, a PD Case tem como objetivo fornecer
      soluções para o mercado financeiro, serviço de fábrica de software,
      outsourcing, desenvolvimento de projetos, soluções integradas e
      capacitação de profissionais da área de TI.
    </p>

    <p class="txt2">
      É apaixonado por tecnologia? Gosta de trabalhar em equipe e desenvolver
      soluções? Venha fazer parte da nossa equipe!
    </p>

    <p>
      A PD Case é focada em contratar pessoas protagonistas, atuando com paixão
      e mentalidade inclusiva, respeitando a singularidade de cada pessoa e
      oferecendo a todos os colaboradores meios para que possam desenvolver o
      seu potencial e protagonismo.
      <br><br>
      Envie seu currículo e boa sorte =]
    </p>

   

    <form action="">
      <fieldset>
        <div class="form-group">
          <input type="text" placeholder="Nome" />
        </div>
        <div class="form-group">
          <input type="text" placeholder="E-mail" />
        </div>
        <div class="form-group">
          <input type="text" placeholder="Linkedin" />
        </div>
        <div class="form-group">
          <input type="text" placeholder="Resumo" />
        </div>
        <div class="form-group">
          <select name="" id="">
            <option selected="">cargo de interesse...</option>
            <option value="Analista de requisitos">
              Analista de requisitos
            </option>
            <option value="Desenvolvedor Java">Desenvolvedor Java</option>
            <option value="Gerente de projetos">Gerente de projetos</option>
            <option value="Analista de testes">Analista de testes</option>
            <option value="Outros">Outros</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Arquivo..." />
        </div>
        <button>Anexe seu currículo</button>
    
        <div class="form-group btn-group">
          <label for="">
            <input type="checkbox" /> Li e estou ciente da
            <a href="/privacidade" class="link">Política de Privacidade</a> e proteção de
            Dados da PD Case.
          </label>
        </div>

        <div class="form-group btn-group">
          <label for="">
            <input type="checkbox" /> Estou ciente de que os dados tratados são
            necessários para análise de minha candidatura a vagas de trabalho na
            PD Case.
          </label>
        </div>

        <div class="form-group btn-group">
          <div
            class="g-recaptcha"
            data-sitekey="6LdGsyIqAAAAAN64PQfzPWCanWpFvBVuG8kd7w0N"
          ></div>
        </div>
      </fieldset>

      <button type="button" class="btn1">enviar</button>

      <div class="success" style="display: none">
        <h4>Currículo enviado com sucesso</h4>
        Boa sorte!
      </div>

      <div class="error" style="display: none">
        <h4>Ocorreu um erro ao enviar seu currículo</h4>
        Tente novamente.
      </div>
    </form>
</div>

  
    <div class="coluna">
      <h3>Benefícios</h3>
      <div class="grid grid-1">
        <div class="tag-">
          <div class="margem">Plano de saúde</div>
        </div>
      </div>

      <div class="tag-">
        <div class="margem">Plano Odontológico</div>
      </div>

      <div class="tag-">
        <div class="margem">Home office</div>
      </div>

      <div class="tag-">
        <div class="margem">Bônus por certificações</div>
      </div>

      <div class="tag-">
        <div class="margem">Ticket refeição</div>
      </div>

      <div class="tag-">
        <div class="margem">Seguro de vida</div>
      </div>

      <div class="tag-">
        <div class="margem">Gympass</div>
      </div>
    </div>
</div>
  </section>

</body>
