<div class="class">
    <h1>Sobre</h1>
</div>

<section class="container">
    <div class="coluna-texto">
        <p id="txt1">Fundada em 1991, a PD Case oferece produtos e serviços de software que utilizam a tecnologia como
            meio
            de valorização do conhecimento do cliente.
        </p>
        <br>
        <p id="txt2">O profundo conhecimento de negócios e de processos, a grande experiência em projetos de
            desenvolvimento
            para
            vários setores e a garantia das entregas realizadas, posicionam a PD Case de forma diferenciada, garantindo
            a
            oferta de soluções altamente competitivas.
        </p>
        <h3>Valores</h3>
    </div>
    <div class="grid-1">
        <div class="blocos"></div>
        <div class="blocos"></div>
        <div class="blocos"></div>
        <div class="blocos"></div>
        <div class="blocos"></div>
        <div class="blocos"></div>
    </div>
</section>
