<div class="class">
    <h1>Sobre</h1>
</div>

<section class="container">
    <div class="coluna-texto">
        <p id="txt1">Fundada em 1991, a PD Case oferece produtos e serviços de software que utilizam a tecnologia como
            meio
            de valorização do conhecimento do cliente.
        </p>
        <br>
        <p id="txt2">O profundo conhecimento de negócios e de processos, a grande experiência em projetos de
            desenvolvimento
            para
            vários setores e a garantia das entregas realizadas, posicionam a PD Case de forma diferenciada, garantindo
            a
            oferta de soluções altamente competitivas.
        </p>
        <h3>Valores</h3>
    </div>
    <div class="grid">
        <div class="blocos">Compromisso com princípios éticos e legais.</div>
        <div class="blocos">Compromisso com as clientes e responsabilidades assumidas. </div>
        <div class="blocos">Transparência e eficiência operacional.</div>
        <div class="blocos">Respeito pela individualidade e diversidade das pessoas.</div>
        <div class="blocos">Incentivo a inovação e ao empreendedorismo interno.</div>
        <div class="blocos">Responsabilidade social.</div>

        <div class="bloco2">
            <div class="verde"><img src="/anos.svg" class="ico" alt=""></div>
            <div class="amarelo">Mais de 30 anos realizando projetos e agregando valores aos nossos clientes</div>
        </div>
        <div class="bloco2">
            <a href="/mps-br">
                <div class="verde-2"><img src="/selo.svg" class="ico" alt=""></div>
                <div class="amarelo-2">
                    <p>Desde 2007 com processos maduros de desenvolvimento e sustentação definidos,
                        avaliados
                        e certificados pelo MPS-BR.</p>
                    <div class="selos">
                        <img src="/selo-c.svg" alt="">
                        <img src="/selo-g.svg" alt="">
                    </div>
                </div>
            </a>
        </div>
        <div class="bloco2">
            <div class="verde"><img src="/profissionais.svg" class="ico" alt=""></div>
            <div class="amarelo">Equipe capacitada com larga experiência em vários projetos e preparada para se adaptar
                as necessidades dos clientes </div>
        </div>
    </div>
</section>