<div class="class">
  <h1>Autorização de informações</h1>
</div>

<section class="container">
  <div class="column-text">
    <p>
      O ponto inicial de entrada para o Portal de Crédito é a obtenção de
      informações de Identificação via CPF/CNPJ, baseado no sistema CADASTRO, ou
      através de serviço externo(Ex. RFB, SPC), quando é verificado a situação
      cadastral e autenticidade das informações da pessoa solicitante.
    </p>

    <div class="linha">
      <div class="coluna-texto">
        <h3>Verificando Necessidades de Crédito</h3>
        <p>
          Após a verificação inicial da pessoa fisica ou juridica solicitante
          são acopladass questões sobre as necessidade de crédito que permite
          direcionar na forma de tratamento da solicitação. Nesse contexto
          permite cinco modalidades distintas de crédito com as seguintes
          caracteristicas.
        </p>
      </div>
      <div class="coluna-texto">
        <h3>Parcelado</h3>
        <p>
          O cliente precisa de um valor determinado e esta propenso a pagar
          prestações via débito em conta ou boleto bancário.
        </p>
      </div>
    </div>
    <div class="linha">
      <div class="coluna-texto">
        <h3>Consignado</h3>
        <p>
          O cliente(PF) precisa de um valor determinado, se identifica como
          funcionário público ou de empresa conveniada, oferecendo o débito no
          contra cheque como forma de pagar o emprestimo.
        </p>
      </div>
      <div class="coluna-texto">
        <h3>Antecipação de Recebíveis</h3>
        <p>
          O cliente(PJ) é empresa que recebe suas vendas por cartão de crédito
          ou boletos bancários e precisa de limite de crédito para cobertura de
          despesas.
        </p>
      </div>
    </div>
    <div class="linha">
      <div class="coluna-texto">
        <h3>Rotativo</h3>
        <p>
          O cliente já possui conta corrente, precisa de limite para cobertura
          de despesas, tendo ciência que somente os créditos na conta fazem a
          amortização do saldo devedor.
        </p>
      </div>
      <div class="coluna-texto">
        <h3>Conta Garantida</h3>
        <p>
          O cliente tem conta movimento e possui garantias aceitáveis pelo banco
          na concessão de limite, além de oferecer avalistas sem restrições de
          crédito ou bens não alienados como garantias da operação de
          empréstimos.
        </p>
      </div>
    </div>
    <h3>Para mais informações</h3>
    <div class="grid">
      <a href="parcelado"><div class="blocos">Parcelado</div></a>
      <a href="consignacao"><div class="blocos">Consignado</div></a>
      <a href="antecipacao-de-recebiveis"><div class="blocos">Antecipação / Desconto</div></a>
      <a href="rotativo"><div class="blocos">Rotativo</div></a>
      <a href="https://www.pdcase.com/conta-garantida.html"><div class="blocos">Conta Garantida</div></a>
    </div>
  </div>
</section>
