<section id="clientes" class="card">
    <div class="container-decor">
        <div class="titulo">
            <h2 class="maior">
                <span class="txt-destaque">Parceiros</span> e clientes</h2>
        </div>
        <div class="grid-clientes">
            <img src="/desenvolverr.svg" loading="lazy" title="Agência de Desenvolvimento do Estado de Roraima" width="80" height="80"/>
            <img src="/agepe.svg" loading="lazy" title="Agência de Empreendedorismo do Estado de Pernambuco" width="80" height="80"/>
            <img src="/banese.svg" loading="lazy" title="Banco do Estado de Sergipe" width="80" height="80"/>
            <img src="/banestes.svg" loading="lazy" title="Banco do Estado do Espírito Santo" width="80" height="80"/>
            <img src="/banestes-dtvm.svg" loading="lazy" title="BANESTES DTVM" width="80" height="80"/>
            <img src="/banestes-seguros.svg" loading="lazy" title="BANESTES Seguros" width="80" height="80"/>
            <img src="/banpara.svg" loading="lazy" title="Banco do Estado do Pará" width="80" height="80"/>
            <img src="/banco-da-amazonia.svg" loading="lazy" title="Banco da Amazônia" width="80" height="80"/>
            <img src="/nordeste.svg" loading="lazy" title="Banco do Nordeste" width="80" height="80"/>
            <img src="/brb.svg" loading="lazy" title="Banco Regional de Brasília" width="80" height="80"/>
            <img src="/brde.svg" loading="lazy" title="Banco Regional de Desenvolvimento do Extremo Sul" width="80" height="80"/>
            <img src="/caema.svg" loading="lazy" title="Companhia de Saneamento Ambiental do Maranhão" width="80" height="80"/>
            <img src="/bombeiros.svg" loading="lazy" title="Corpo de Bombeiros Militar do Estado de Minas Gerais" width="80" height="80"/>
            <img src="/cdtn.svg" loading="lazy" title="Centro de Desenvolvimento de Tecnologia Nuclear" width="80" height="80"/>
            <img src="/cemig.svg" loading="lazy" title="Companhia Energética de Minas Gerais" width="80" height="80"/>
            <img src="/ciasc.svg" loading="lazy" title="Centro de Informática e Automação do Estado de Santa Catarina" width="80" height="80"/>
            <img src="/eem.svg" loading="lazy" title="Escola em Movimento" width="80" height="80"/>
            <img src="/iema.svg" loading="lazy" title="Instituto Estadual de Meio Ambiente e Recursos Hídricos - ES" width="80" height="80"/>
            <img src="/pmmg.svg" loading="lazy" title="Polícia Militar de Minas Gerais" width="80" height="80"/>
            <img src="/prefeitura-bh.svg" loading="lazy" title="Processamento de Dados da Prefeitura de Belo Horizonte" width="80" height="80"/>
            <img src="/sefaz.svg" loading="lazy" title="Secretaria da fazenda do Estado de Alagoas" width="80" height="80"/>
            <img src="/serpro.svg" loading="lazy" title="Serviço Federal de Processamento de Dados" width="80" height="80"/>
            <img src="/tce-ma.svg" loading="lazy" title="Tribunal de Contas do Estado do Maranhão" width="80" height="80"/>
            <img src="/tce-sc.svg" loading="lazy" title="Tribunal de Contas do Estado de Santa Catarina" width="80" height="80"/>
            <img src="/tj-ma.svg" loading="lazy" title="Tribunal de Justiça do Estado do Maranhão" width="80" height="80"/>
            <img src="/emap.svg" loading="lazy" title="EMAP - Empresa Maranhense de Administração Portuária" width="80" height="80"/>
        </div>
    </div>
</section>