<div class="class">
    <h1>Tesouraria</h1>
</div>

<section class="container">
    <div class="column-text">
        <p>Toda a movimentação financeira de entrada ou saida de recursos deve ser a priori centralizada num único
            controle, de modo a ter a posição de fluxo de caixa e programação de pagamentos e e recebimentos. O principo
            de controle deve observar a criação de contas distintas para cada tipo de controle, onde são associados os
            centro de custos e históricos permitidos de movimentação.</p>
        <h3>Interface padrão</h3>
        <p>Nas movimentações de contas podem aplicados os dados de interface no padrão FEBRABAN OU OFX, que facilitam o
            trabalho de identificação e classificação dos lançamentos, de modo que o resultado de fechamento possa ser
            conciliado de acordo com módulo de gestor de aplicação.</p>
        <h3 class="h33">Resultado</h3>
        <p>É importante que o resultado do processos de Tesouraria possam ser integrados aos sistemas de Gestão de Caixa e Controle Orçamentário.</p>
    </div>
</section>