<div class="class">
    <h1>Gestão tributária</h1>
</div>

<section class="container">
    <div class="coluna-texto">
        <p>A GESTÃO DE TRIBUTOS requer a integração de uma série de informações originadas por aplicações de clientes
            tais como, fundos de investimentos, Crédito, e CONTAS CORRENTES, que estão suportadas normalmente por
            sistemas distintos. Da mesma forma se aplica aos sistemas de crédito, câmbio, seguros. Leasing etc</p>
        <br>
        <p>A GESTÃO DE TRIBUTOS permite centralizar todas as demandas de tributos retidos das empresas integrantes do
            conglomerado através da integração aos aplicativos operacionais. A sumarização de uma série de tributos pode
            ser feita automaticamente por uma unidade centralizadora, que agilizam os controles, apuração,
            recolhecimento e repasse de acordo com o calendário determinado pela RECEITA FEDERAL e municípios.</p>
        <br>
        <p>A sumarização de uma série de tributos pode ser feita automaticamente por uma unidade centralizadora, que
            agilizam os controles, apuração, recolhecimento e repasse de acordo com o calendário determinado pela
            RECEITA FEDERAL e municípios.</p>
        <br>

        <h3 class="h33">Apuração contábil</h3>
        <p>O balizamento os dados de apuração na CONTABILIDADE e dos sistemas de origem de retenção permite uma
            pré-conferência entre os dados retidos/calculados. Ao utilizar duas fontes de dados distintas, é viabilizada
            a conformidade de valores a repassar.</p>
        <br>
        <p>Todos os tributos da empresa ou retenção de cliente, fornecedores e funcionários devem ser configurados no
            sistema com uma série de parâmetros de controle.</p>
        <br>

        <h3 class="h33">Regras de apuração</h3>
        <p>
            As regras e esquemas de apuração definem como são calculados os valores baseados em dados da CONTABILIDADE e
            é permitido criar uma agenda tributária de acordo com calendário especifico de cada tributo.
        </p>
        <br>
        <p>A abrangência de cálculo dos dados pode ser restringida em função da origem das receitas, muito comum nas
            legislações de tributos municipais.</p>
        <br>
        <p>Na centralização de pagamentos de serviços prestados, onde existe a incidência de ISS, porém, com mão-de-obra
            alocada em diferentes locais, os valores a repassar podem ser distribuídos de acordo com percentual definido
            para cada órgão.</p>
        <br>

        <h3 class="h33">Apuração de tributos a partir de agenda</h3>
        <p>As atividades de retenção, apuração, recolhimento, repasse e prestação de contas de TRIBUTOS possui
            complexidade devido às diversas fontes de informações e aos calendários diferenciados definidos pela RECEITA
            FEDERAL. Os riscos embutidos nas tarefas podem acarretar em penalização por recolhimentos errados ou até por
            apropriação indébita.</p>
        <br>
    </div>
    <div class="grid">
        <div class="bloco">
            <div class="verde">Processo</div>
            <div class="amarelo">
                <p>Todos os processos de cálculo de tributos a recolher são baseados em regras de apuração. A agenda
                tributária permite programar automaticamente os períodos de cálculo dos valores, que podem ser feitos
                por prévia ou de forma definitiva.</p>
                
                <p>Na forma definitiva os valores são contabilizados automaticamente, podendo ainda ser integrados a
                aplicativos de TESOURARIA.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="verde">Resultado</div>
            <div class="amarelo">
                <p>O resultado do processo de apuração gera controle de valores dentro do trâmite definido por cada órgão,
                de modo que possa ter a qualquer momento um mapa apuração por cada empresa integrante do conglomerado.
                Dentro dessa mesma visão podem ser fornecidos extratos de retenção por contribuinte, tendo como fontes
                de origem os sistemas corporativos de produtos(cliente), folha de pagamentos(Funcionários) e contas a
                pagar(fornecedores)</p>
            </div>
        </div>
        <div class="bloco">
            <div class="verde">Tributos fiscais</div>
            <div class="amarelo">
                <p>No caso de tributos federais a prestação de contas é feita através da geração de arquivo no padrão DCTF.
                Para os tributos municipais deve ser feita a adequação conforme especificação de cada secretária da
                Fazenda.</p>
                
                <p>As contribuições de PIS/COFINS apuradas via processo automático subsidiam a composição das informações
                do EFD-Contribuições regulamentada no SPED da RFB - Receita Federal do Brasil.</p>
            </div>
        </div>
    </div>
</section>