<div class="class">
  <h1>Portal de crédito</h1>
</div>

<section class="container">
  <div class="column-text">
    <h3>Emprestimos e Financiamentos</h3>
    <p>
      Com a experiência adquirida em mais de 20 anos de atuação em projetos e implantação de soluções de negócios para o
      mercado financeiro, a PD CASE oferece um conjunto de módulos funcionais para gerenciamentos de processos de
      crédito, que abrange as etapas de análise e concessão de crédito, bem como a administração de carteiras e gestão e
      cobrança.
    </p>
    <br>
    <p>
      O portal de CRÉDITO abrange o conjunto de soluções disponibilizadas para gerenciamento da carteira de crédito.
      Desde que um cliente em potencial faça opção por obter um empréstimo em acesso livre, nos quais direcionadas as
      áreas de financiamentos ofertados pela empresa, podendo fazer seleção da destinação do valor e prazo de carência e
      amortização pretendida.
    </p>
    <br />
    <p>
      Através de simulação prévia de uma operação pode-se ter a visão dos fluxos de pagamentos. Essas informações são
      ajustadas para formatação de solicitação de crédito, que posteriormente são submetidas aos processos de
      enquadramento, avaliação de risco e garantias. Dentro do trâmite ainda são realizados os pareceres das áreas
      envolvidas, que habilitam as propostas para contratação.
    </p>
    <h3>Principais diferenciais da arquitetura</h3>
    <ul>
      <li>Integração com soluções de outros fornecedores através do padrão de comunicação Windows;</li>
      <li>Modularidade que permite aquisição de módulos independentes;</li>
      <li>Plataforma 100% web;</li>
      <li>Interface no padrão SOA;</li>
      <li>Independente do SGBD.</li>
    </ul>
    <h3>Mais informações</h3>
    <div class="grid">
      <a href="/autorizacao-de-informacoes">
        <div class="blocos">Autorização de informações</div>
      </a>
      <a href="/simulacao-de-credito">
        <div class="blocos">Simulador de crédito</div>
      </a>
      <a href="/liberacao-de-credito">
        <div class="blocos">Liberação</div>
      </a>
      <a href="/nucleo-gerenciador">
        <div class="blocos">Núcleo gerenciador</div>
      </a>
      <a href="/cobranca-de-credito">
        <div class="blocos">Cobrança & renegociação</div>
      </a>
      <a href="/recuperacao-de-credito">
        <div class="blocos">Recuperação de crédito</div>
      </a>
      <a href="/contratos-em-prejuizos">
        <div class="blocos">CBP</div>
      </a>
      <a href="/linhas-de-credito">
        <div class="blocos">Linhas de crédito</div>
      </a>
    </div>
  </div>
</section>