<div class="class">
  <h1>Serviços</h1>
</div>

<section>
  <div class="container">
    <div class="linha">
      <div class="coluna-texto">
        <p>
          As metas e lucratividade da sua empresa são nosso propósito. Estamos
          conectados com nossos clientes e as necessidades de mercado, o que nos
          permite oferecer soluções completas baseadas em nossa vasta
          experiência além de serviços customizados para agregar valor ao
          negócio.
        </p>
        <br />
        <p>
          Atendemos a todas resoluções dos órgãos reguladores do mercado
          financeiro. Bancos comerciais e de desenvolvimento de todo porte,
          agências de crédito ou fundos de investimento de projetos de
          indeterminadas categorias, sejam eles de inovação, pesquisa, linha de
          crédito específica.
        </p>
      </div>
      <aside class="coluna-selos">
        <div class="selos">
          <a href="mpsBR.html">
            <img src="/selo-c.svg" alt="Selo C" />
          </a>
          <a href="mpsBR.html">
            <img src="/selo-f.svg" alt="Selo F" />
          </a>
        </div>
      </aside>
    </div>
  </div>
  <div class="container-blocos">
    <div class="coluna-bloco">
      <a href="" class="bloco">
        <div class="verde"><img src="/fabrica.svg" alt="" /></div>
        <div class="amarelo"><h4>Fábrica de Software</h4></div>
      </a>
      <div class="bloco">
        <div class="verde"><img src="/processos.svg" alt="" /></div>
        <div class="amarelo"><h4>Integração</h4></div>
      </div>
    </div>
    <div class="coluna-bloco">
      <div class="bloco">
        <div class="verde"><img src="/consultoria.svg" alt="" /></div>
        <div class="amarelo"><h4>Consultoria</h4></div>
      </div>
      <div class="bloco">
        <div class="verde"><img src="/produtos.svg" alt="" /></div>
        <div class="amarelo"><h4>Sustentação de Sistemas</h4></div>
      </div>
    </div>
    <div class="coluna-bloco">
      <div class="bloco">
        <div class="verde"><img src="/outsourcing.svg" alt="" /></div>
        <div class="amarelo"><h4>Outsourcing</h4></div>
      </div>
      <div class="bloco">
        <div class="verde"><img src="/mainframe.svg" alt="" /></div>
        <div class="amarelo"><h4>Porte Cobol</h4></div>
      </div>
    </div>
  </div>
  <div class="produtos-financeiros">
    <h2>Produtos financeiros</h2>
  </div>
  <div class="container"></div>
</section>
