* {
  color: white;
}

.class {
}

h1 {
  font-size: 48px;
  padding: 30px;
  margin: 120px 0px 0px;
}

section {
  background-color: #141b23;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 950px;
  padding-top: 60px;
}

.linha {
  display: flex;
  gap: 30px;
}

.coluna-texto {
  flex: 4.5;
}

p {
  line-height: 28px;
}

.coluna-selos {
  flex: 1;
}

img {
  flex-direction: column-reverse;
}

.selos {
  display: flex;
  justify-content: space-between;
}

.container-blocos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.coluna-bloco {
}

.verde {
  width: 288px;
  height: 72px;
  background-color: var(--cor-terciaria);
}

.amarelo {
  width: 288px;
  height: 72px;
  background-color: var(--cor-secundaria);
}

h4 {
    
}
