<div class="class">
  <h1>Serviços</h1>
</div>

<section>
  <div class="container">
    <div class="linha">
      <div class="coluna-texto">
        <p>
          As metas e lucratividade da sua empresa são nosso propósito. Estamos
          conectados com nossos clientes e as necessidades de mercado, o que nos
          permite oferecer soluções completas baseadas em nossa vasta
          experiência além de serviços customizados para agregar valor ao
          negócio.
        </p>
        <p>
          Atendemos a todas resoluções dos órgãos reguladores do mercado
          financeiro. Bancos comerciais e de desenvolvimento de todo porte,
          agências de crédito ou fundos de investimento de projetos de
          indeterminadas categorias, sejam eles de inovação, pesquisa, linha de
          crédito específica.rsrs
        </p>
      </div>
      <aside class="coluna">
        <div class="selos">
          <a href="mpsBR.html">
            <img src="/selo-c.svg" alt="" />
          </a>
          <a href="mpsBR.html">
            <img src="/selo-f.svg" alt="" />
          </a>
        </div>
      </aside>
    </div>
  </div>
  <div class="container"></div>
  <div class="container"></div>
</section>
