<div class="class">
  <h1>CADOC 3050</h1>
</div>

<section class="container">
  <div class="column-text">
    <h3>Taxas Médias</h3>
    <p>
      O CADOC – 3050 – também conhecidos com “Taxas Médias” é um informativo
      instituído pelo BANCO CENTRAL que visa obter, sistematicamente, as taxas
      médias praticadas pelas instituições financeiras nas diversas modalidades
      de crédito existentes no mercado, que permite ao tomador final ter através
      do próprio BACEN uma base comparativa de taxas de contratação antes mesmo
      de contratar as operações de crédito.
    </p>
  </div>

  <div class="linha">
    <div class="coluna-texto">
      <h3>Integrado</h3>
      <p>
        Através de integração por diversas fontes de sistemas de negócios de
        crédito, o PD_CADOC3050 permite calcular a taxas de acordo com a
        categoria da operação (Livre/Direcionada), distinguindo os custos(Juros,
        fiscais e operacionais), taxa mínima e máxima, prazo a decorrer, novos
        contratos, saldos na carteira ativa, níveis de atraso, dentre outros
        qualificadores para demonstração da posição de instituição junto ao
        BACEN.
      </p>
    </div>
    <div class="coluna-texto">
      <h3>Padronizado</h3>
      <p>
        O PD_CADOC3050 possui layout padrão de integração para consolidação de
        dados visando a entrega das informações de acordo com padrão definidos
        pelo BACEN, podendo ser feita validações prévia antes do envio
        definitivo da arquivo de dados(XML) ao BACEN.
      </p>
    </div>
  </div>
</section>
