<div class="class">
    <h1>Gerencial e informativos carteira</h1>
</div>

<section class="container">
    <div class="column-text">
        <p>Para alta gerência é fundamental o fornecimento de dados empíricos na análise de performance das carteiras de
            crédito.</p>
        <br>
        <p>Baseado na formatação de dados originados nos módulos de gerenciamento de processos de crédito, o módulo
            GERENCIAL permite fazer diagnósticos de carteiras usando as informações derivadas na administração de
            contratos, bem como fazer, projeções através de cenários.</p>
        <br>
        <p>A estrutura dos dados e demais relacionamentos permitem formatar gráficos ilustrativos sobre a composição e
            evolução de saldos através de fatores como, linhas de crédito, unidades de negócios, classificação de risco,
            clientes, etc.</p>
        <br>
        <p>Em termos de avaliação de retorno, podem ser feitas projeções comparativas com taxas prefixadas ou
            indexadores usuais de mercado, como CDI e SELIC, de modo a mensurar o custo de captação e taxa de retorno
            projetada.</p>
    </div>
    <div class="linha">
        <div class="coluna-texto">
            <h3>Gráficos gerados</h3>
            <p>Através de estruturação de equivalência de saldos e lançamentos derivados de contas internas, podem ser
                feitas análises comparativas das informações fornecidas.</p>
            <br>
            <p>Todos os gráficos gerados permitem a alimentação de parâmetros numa mesma instância, de modo que o
                usuário possa submeter variações numa mesma sequencia, podendo ainda exportar a figura para construção
                de apresentações.</p>
            <br>
            <p>Outra propriedade dos gráficos gerados consiste na disponibilidade de índices e valores em cada parte dos
                gráficos. Essa sistemática permite o entendimento imediato sem necessidade de recorrer a bases externas.
            </p>
        </div>
        <div class="coluna-texto">
            <h3>Uma arquitetura independente de sistemas</h3>
            <p>O módulo GERENCIAL é disponibilizado de forma independente dos demais módulos das soluções da PDCASE.
                Através de estrutura de dados padrões, que podem ser originadas de quaisquer sistemas, os dados são
                migrados para um banco de dados independente, que realiza o processamento de acordo com a periodicidade
                definida na composição dos processos de negócios.</p>
        </div>
    </div>
</section>