<div class="class">
    <h1>Cadastro de pessoas</h1>
</div>

<section class="container">
    <div class="coluna-texto">
        <h3>Controle e revisão de dados cadastrais</h3>
        <p>As informações cadastrais são os instrumentos essenciais para conhecimento dos perfis de clientes e seus
            relacionados. As práticas de negócios demandam revisões sistemáticas para alavancagem da oferta de novos
            PRODUTOS e SERVIÇOS.</p>
        <br>
        <p>O CADASTRO DE PESSOAS permite parametrizar as exigências de informações de CLIENTES em função da intenção de
            contratação de PRODUTOS ou SERVIÇOS quando nas visitas de negócios.</p>
        <br>
        <p>As informações cadastrais são os instrumentos essenciais para conhecimento dos perfis de clientes e seus
            relacionados. As práticas de negócios demandam revisões sistemáticas para alavancagem da oferta de novos
            PRODUTOS e SERVIÇOS.</p>
        <br>
        <p>
            O CADASTRO DE PESSOAS permite parametrizar as exigências de informações de CLIENTES em função da intenção de
            contratação de PRODUTOS ou SERVIÇOS quando nas visitas de negócios.
        </p>
        <br>

        <h3 class="h33">Fluxo operacional</h3>
        <p>O fluxo operacional é ilustrado através da figura ao lado desde a CONTRATAÇÃO DE PRODUTOS & SERVIÇOS até após
            a autorização a continuidade de processo de cadastramento.</p>
        <br>
        <p>As ÁREAS OPERACIONAIS internas devem se responsabilizar pela verificação e entrada dos dados de cada FLUXO
            CADASTRAL, que somente será concluído desde que obedeçam todos os requisitos exigíveis nos PILARES DE
            INFORMAÇOES.</p>
        <br>
        <p>Para inicio de operacionalização de qualquer operação junto ao banco, a ÁREA GERENCIAL é convocada a fazer a
            VALIDAÇÃO E AUTORIZAÇÃO CADASTRAL.</p>
        <br>

        <h3 class="h33">Cadastro de cliente</h3>
        <p>
            O CADASTRO DE PESSOAS permite parametrizar as exigências de informações de CLIENTES em função da intenção de
            contratação de PRODUTOS ou SERVIÇOS quando nas visitas de negócios.
        </p>
        <br>
        <p>Através das requisições de LOCALIZAÇÃO, RELACIONAMENTO, OCUPAÇÃO E RENDA, ATIVIDADE E FATURAMENTO e
            PATRIMÔNIO, podem ser registradas todas as informações relevantes a qualquer produto.</p>
        <br>

        <h3 class="h33">Executando o ciclo cadastral de cliente</h3>
        <p>A figura abaixo ilustra um exemplo do CICLO CADASTRAL desde a realização da entrevista gerencial, quando o
            CLIENTE define a intenção de relacionamento com o banco. Todas as etapas do ciclo são mantidas pelo num
            TRÂMITE DO PROCESSO, quando são armazenadas as informações de SINALIZADORES e FASES DE PERMANÊNCIA de cada
            registro.</p>
        <br>

        <h3 class="h33">Base de informações</h3>
        <p>Toda a base de informações do CADASTRO DE PESSOAS permite o registro automático para vinculação a PRODUTOS E
            SERVIÇOS, que serve de instrumento de avaliação de reciprocidades dos clientes.</p>
        <br>
        <p>A formatação de transações nos esquemas de EXIGÊNCIA, NAVEGAÇÃO e REVISÃO de dados resultam na adequação do
            PROCESSO CADASTRAL aos requisitos de CONTROLES INTERNOS definidos pelo COMITÊ DE BASILÉIA.</p>
        <br>

        <h3 class="h3b">Documentação & Conformidade</h3>
    </div>
    <div class="grid">
        <div class="bloco">
            <div class="verde">Manter informação</div>
            <div class="amarelo">
                No trato das informações fornecidas pelos clientes é essencial a manutenção e guarda de documentos,
                principalmente no modo digital, que facilita a salva e recuperação a qualquer época. De acordo com a
                relação de negócios estabelecida pode ser exigida uma maior quantidade de documentos visando conhecer a
                situação real do cliente.
            </div>
        </div>
        <div class="bloco">
            <div class="verde">Documentação sistemática</div>
            <div class="amarelo">
                A sistemática de documentação estabelece critérios de documentos obrigatórios e comprobatórios, que
                permitem perfis distintos de usuários em dar conformidade(ou não) em cada documento fornecido, com
                alternativa de fazer anotações de deliberações, e ao mesmo tempo programar revisão periódica.
            </div>
        </div>
        <div class="bloco">
            <div class="verde">Problemas da inconformidade</div>
            <div class="amarelo">
                A inconformidade ainda pode ser colocada como fator impeditivo na relação de negócios através de alerta
                ou travas nas opções de confirmação de produtos e serviços oferecidos.
            </div>
        </div>
    </div>
</section>