<div class="class">
  <h1>Carreiras</h1>
</div>

<section class="container">
  <div class="linha">
    <div class="coluna-texto">
      <p>
        Com mais de 30 anos de mercado, a PD Case tem como objetivo fornecer
        soluções para o mercado financeiro, serviço de fábrica de software,
        outsourcing, desenvolvimento de projetos, soluções integradas e
        capacitação de profissionais da área de TI.
      </p>
      <br />
      <p class="txt2">
        É apaixonado por tecnologia? Gosta de trabalhar em equipe e desenvolver
        soluções? Venha fazer parte da nossa equipe!
      </p>
      <br />
      <p>
        A PD Case é focada em contratar pessoas protagonistas, atuando com
        paixão e mentalidade inclusiva, respeitando a singularidade de cada
        pessoa e oferecendo a todos os colaboradores meios para que possam
        desenvolver o seu potencial e protagonismo.
      </p>
      <br />
      <p>Envie seu currículo e boa sorte =]</p>
      <br />

      <form action="">
        <fieldset>
          <input type="text" placeholder="Nome" />
          <br />
          <input type="text" placeholder="E-mail" />
          <br />
          <input type="text" placeholder="Linkedin" />
          <br />
          <input type="text" placeholder="Resumo" class="resumo" />
          <br />
          <select name="" id="">
            <option selected="cargo de interesse...">
              cargo de interesse...
            </option>
            <option value="Analista de requisitos">
              Analista de requisitos
            </option>
            <option value="Desenvolvedor Java">Desenvolvedor Java</option>
            <option value="Gerente de projetos">Gerente de projetos</option>
            <option value="Analista de testes">Analista de testes</option>
            <option value="Outros">Outros</option>
          </select>
          <br />

          <div class="agrupar">
              <input type="text" placeholder="Arquivo..." />
              <button>Anexe seu currículo</button>
          </div>
          <br>
          <label for="">
            <input type="checkbox" /> Li e estou ciente da
            <a href="">Política de Privacidade</a> e proteção de Dados da PD
            Case. <br /><br />
            <input type="checkbox" /> Estou ciente de que os dados tratados são
            necessários para análise de minha candidatura a vagas de trabalho na
            PD Case.
          </label>
          <div class="form-group btn-group">
            <div
              class="g-recaptcha"
              data-sitekey="6LdGsyIqAAAAAN64PQfzPWCanWpFvBVuG8kd7w0N"
            ></div>
          </div>
          <br>
          <button>enviar</button>
          
        </fieldset>
      </form>
    </div>

    <div class="coluna-texto">
      <h3>Benefícios</h3>
      <div class="grid grid-1">
        <div class="tag-saude bg-secundaria">
          <div class="margem">Plano de saúde</div>
        </div>
        <div class="tag-dente bg-secundaria">
          <div class="margem">Plano odontológico</div>
        </div>
        <div class="tag-home bg-secundaria">
          <div class="margem">Home office</div>
        </div>
        <div class="tag-estudo bg-secundaria">
          <div class="margem">Bônus por certificações</div>
        </div>
        <div class="tag-comida bg-secundaria">
          <div class="margem">Ticket refeição</div>
        </div>
        <div class="tag-vida bg-secundaria">
          <div class="margem">Seguro de vida</div>
        </div>
        <div class="tag-academia bg-secundaria">
          <div class="margem">Gympass</div>
        </div>
      </div>
    </div>
  </div>
</section>
