<div class="class">
    <h1>Avaliação de risco</h1>
</div>

<section class="container">
    <div class="column-text">
        <p>Nas fases pré-operação as informações fornecidas são base para avaliação de risco de crédito. Os dados
            mantidos no módulo de CADASTRO DE PESSOAS, podem ser submetidos a modelos específicos de avaliação de risco,
            que tratam de modo objetivo cada informação mantida, de modo a estabelecer nota de risco.</p>
        <br>
        <p>Os fatores de risco permitem definir classificação de risco e limites de crédito, aplicando a visão dos 5 Cs.</p>
    </div>
    <div class="grid">
        <div class="bloco">Caráter</div>
        <div class="bloco">Capital</div>
        <div class="bloco">Condições</div>
        <div class="bloco">Capacidade</div>
        <div class="bloco">Colateral</div>
    </div>
</section>