<div class="class">
    <h1>Núcleo gerenciador
    </h1>
  </div>
  
  <section class="container">
    <div class="column-text">
      <p>De um modo geral o gerenciamento das operações de crédito após aprovadas obedecem as mesmas regras. Quando a PC – Proposta de Crédito passa por todas as fases da liberação, o contrato de crédito passa ser administrado pelo NÚCLEO GERENCIADOR, independente da modalidade de crédito.

      </p>
      <br>
      <p>Nos processos executados diariamente são feitas as apropriação de juros(Pré e posfixados) e encargos sobre eventuais amortizações em atraso. As transferências de situação(Normal, atraso e prejuízo) são processadas de forma automática de acordo com parâmetros de prazos e garantias da operação.

      </p>
    </div>
  
    <div class="linha">
      <div class="coluna-texto">
        <h3>Fechamento de carteira
        </h3>
        <p>Mensalmente no fechamento da carteira são aplicadas as regras de cálculo de classificação e provisão de crédito (Resolução 2682), que é um espellhamento do envio do CADOC 3040 ao BACEN. Existe ainda conciliação de saldos da carteira de ativos, carteira classificada e mapa de provisão, dando conformidade de acordo as posições de saldos na CONTABILIDADE.

        </p>
      </div>
      <div class="coluna-texto">
        <h3>Contabilização Automática
        </h3>
        <p>Todos os eventos oriundos da administração de crédito são sujeitos a contabilização automática de acordo com os parâmetros especificos, evitando erros e diminuindo o trabalho de entrada de lançamentos contábeis.

        </p>
      </div>
    </div>
  </section>
  