<div class="class">
    <h1>Controladoria</h1>
</div>
<section class="container">
    <div class="coluna-texto">
        <h3>Controle e publicação de informações legais</h3>
        <p>Você se lembra de um famoso jargão publicitário que dizia que “potência não é nada sem controle”? Era de uma
            marca de pneus, que se utilizava do oportuno raciocínio segundo o qual um motor veloz depende da qualidade
            do pneu para funcionar com mais segurança. “Mas o que isso tem a ver com a minha gestão?”, você deve estar
            se perguntando. Bem, na verdade, tem tudo a ver. Porque neste artigo vamos falar sobre um assunto que pode
            muito bem exercer o papel de “pneu” para o motor do seu empreendimento, fazendo com que ele se desenvolva
            com mais qualidade e eficiência: a controladoria.
        </p>
        <br>
        <p>Decisões acertadas, processos transparentes, excessos eliminados: estes são apenas alguns dos benefícios que
            uma controladoria pode trazer à sua empresa.</p>
        <br>
        <p>A otimização dos controles internos de uma instituição abrange relações de informações de mercado, contábeis
            e financeiros. A manutenção de dados nativos de cada sistema de negócios, ainda que use condição de
            redundancia de dados, permite fazer a conciliação das posições contábeis e financeiras, com alternativa de
            verificação analitica dos dados integrados, indicando a origem, identificação de pessoas, produtos e
            contratos de negócios.</p>
        <br>
        <p>O escopo da Controladoria abrange a relação com Banco Central(regulamentação), mercado(acionista) e
            gerenciamento de caixa. Através de estruturação de planos de contas associados ao padrão COSIF do Banco
            Central são permitidas visões gerenciais, que podem ser exportadas em formatos de fácil integração.</p>
        <br>
        <h3>Módulos</h3>
    </div>
    <div class="grid">
        <a href="/gestao-contabil">
            <div class="blocos">Gestão contábil</div>
        </a>
        <a href="/gestao-tributaria">
            <div class="blocos">Gestão tributária</div>
        </a>
        <a href="/sped">
            <div class="blocos">SPED</div>
        </a>
        <a href="/tesouraria">
            <div class="blocos">Tesouraria</div>
        </a>
        <a href="/controle-de-ativo">
            <div class="blocos">Controle de ativo imobilizado</div>
        </a>
    </div>
</section>