<div class="class">
    <h1>Intercâmbio padrão Febraban</h1>
</div>
<section class="container">
    <div class="column-text">
        <p>O INTERCÂMBIO MAGNÉTICO da PD CASE engloba a troca de arquivos junto as empresas conveniadas, de forma que
            cada transação de entrada de documentos seja autenticada e transferida nos lotes de arquivos, evitando a
            intervençào manual no fluxo de processamento.</p>
        <br>
        <p>A base original de alimentaçào pode ser originada das transaçoes mantidas pelos CANAIS DE ACESSO
            disponibilizadas aos clientes.</p>
    </div>
    <div class="linha">
        <div class="coluna-texto">
            <h3>Custos</h3>
            <p>
                Os custos associados na manipulação de documentos em procedimentos de retaguarda oneram a administração
                dos recebíveis na prestação de serviços de ARRECADAÇÃO.
            </p>
        </div>
        <div class="coluna-texto">
            <h3>Burocracia facilitada</h3>
            <p>
                A formatação de arquivos de pagamentos de faturas de serviços, impostos, boletos de cobrança e
                assemelhados consiste na comprovação eletrônica do processamento de documentos, que deve obedecer ao
                padrão estabelecido pela empresa concessionária.
            </p>
        </div>
    </div>
</section>