<div class="class">
    <h1>Captações de mercado</h1>
</div>

<section class="container">
    <div class="column-text">
        <h3>Alavancando a Entrada de Recursos</h3>
        <p>A busca pelo investidor congrega uma série de produtos financeiros que permite adequar ao porte, perfil de
            risco e prazo de manutenção de recursos investidos, que possa garantir a melhor retantabilidade ao cliente.
            Nesse sentido, a disponibilidade de investimentos requer sistemas diferenciados tendo em vista a forma de
            tratamento da rentabilização dos valores investidos.</p>
        <br>
        <p>O portifólio de soluções para atendimento de captação da PD CASE é composta com sistema integrados as
            informações de CADASTRO, bem como a origem de entradas(ou aplicações) e saidas(ou resgates), oriundos dos
            canais de atendimento(Automação , Internet Banking, Mobile etc), concentrados no módulo de Contas Correntes,
            que a priori determina o relacionamento de informações com o cliente.</p>
        <br>
        <p>As soluções de negócios devem ser customizadas de acordo com a arquitetura e padrões de integração e
            convivência entre sistemas, atendendo ainda as peculiaridades da instituição.</p>
        <br>
        <p>Os módulos constantes na Capatação de Mercado são descritos a seguir.</p>
    </div>
    <div class="grid">
            <a href="/gestao-fundos"><div class="blocos">Fundos de investimento</div></a>
            <a href="https://www.pdcase.com/conta-corrente.html"><div class="blocos">Contas correntes</div></a>
            <a href="/poupanca"><div class="blocos">Poupança</div></a>
            <a href="/deposito-a-prazo"><div class="blocos">Depósito a prazo</div></a>
            <a href="/deposito-judicial"><div class="blocos">Depósito judiciais</div></a>
    </div>
</section>