<header id="header">
  <div id="container">
    <a href="/" class="brand">
      <img src="/logo-deitada.svg" alt="Logo Mobile" />
    </a>
    <div class="nav-mob">
      <!-- Ícone do menu hambúrguer -->
      <a href="#" class="icone-menu" title="Menu" id="menu-toggle"></a>
    </div>
  </div>
</header>

<!-- Links do menu lateral -->
<div class="menu-links">
  <div>
    <a href="/about" id="menuSobre">Sobre</a>
    <a href="/services" id="menuServiços">Serviços</a>
    <a href="/carreiras" id="menuCarreiras">Carreiras</a>
    <a href="/contact" id="menuContato">Contato</a>
  </div>
</div>




