<header id="header">
  <nav id="mobile-nav">
    <a href="/" class="brand">
      <img src="/logo-deitada.svg" alt="Logo Mobile" />
    </a>
    <div class="nav">
      <!-- Ícone do menu hambúrguer -->
      <a href="#" class="icone-menu" title="Menu"></a>
      
      <!-- Links do menu lateral -->
      <div class="menu-links">
        <a href="/about" id="menuSobre">Sobre</a>
        <a href="/services" id="menuServiços">Serviços</a>
        <a href="/carreiras" id="menuCarreiras">Carreiras</a>
        <a href="/contact" id="menuContato">Contato</a>
      </div>
    </div>
  </nav>
</header>
