<div class="class">
  <h1>Cadastro positivo</h1>
</div>

<section class="container">
  <div class="column-text">
    <p>
      A PD Case apresenta ao mercado a sua nova solução de compliance para
      adequação das instituições financeiras a lei do Cadastro Positivo. A lei
      do Cadastro Positivo tem como objetivo acenar ao mercado àqueles cidadãos
      que possuem um histórico de crédito positivo, ou seja, a identificação do
      bom pagador. Reconhecendo o bom comportamento de crédito do cidadão,
      através dos históricos ofertados pelo GBDs do Cadastro Positivo, a
      operação de crédito passar a ter um risco menor, consequentemente um juro
      menor.
    </p>
    <br />
    <p>
      As instituições financeiras devem estar aptas a cumprir as disposições de
      lei do cadastro positivo até 1º de agosto de 2013.
    </p>
    <br />
    <p>
      O software <span>PD_POSITIVO</span> tem com característica principal a
      modularização através de um middleware que garante a comunicação e a
      integração com os sistemas legados bem como o gerenciador de banco de
      dados, e uma poderosa ferramenta gerencial com interface amigável ao uso
      interno como para os clientes da Instituição através dos canais ofertados.
    </p>
  </div>

  <div class="linha">
    <div class="coluna-texto">
      <h3>Arquitetura</h3>
      <p>
        Sua arquitetura utiliza o conceito de multiplataforma, permitindo assim
        uma maior aderência ao parque tecnológico, com conceitos de integração
        através de uso de serviços web e até mesmo arquivos sequenciais.
      </p>
    </div>
    <div class="coluna-texto">
      <h3>Construção</h3>
      <p>
        Sua construção é balizada em regras parametrizáveis tornando a solução
        mais flexível tanto para efeito de gestão quanto as manutenções futuras
        sejam elas de qualquer ordem.
      </p>
    </div>
  </div>
</section>
