<section id="servicos" class="manchete2 card">
    <div class="container">
        <a href="/servicos" class="decor">
            <h2><span>Soluções</span> em software,<br> consultoria e outsourcing</h2>
            <h3>Mercado financeiro, integração de plataformas,<br> iniciativa pública e privada.</h3>
            <img src="/seta-preta.svg" class="ico" alt="avancar" width="48" height="48" />
            <div class="selos">
                <img src="/selo-f.svg" loading="lazy" class="selo" alt="MPSBR C" width="72" height="72" />
                <img src="/selo-c.svg" loading="lazy" class="selo" alt="MPSBR G" width="72" height="72" />
            </div>
        </a>
    </div>
</section>