<section id="manchete" class="manchete card">
    <div class="container">
        <a href="about.html" class="decor">
            <h1 class="maior" class="txt-destaque"><span>Apaixonado</span> por tecnologia?</h1>
            <h3>Gosta de trabalhar em equipe e desenvolver soluções?<br>
                Venha fazer parte da nossa equipe e aproveite <br>
                todos os benefícios de entrar na Pd Case.</h3>
                <img src="/Seta.svg" class="ico" alt="Avançar" width="34" height="48"/>
        </a>
    </div>
</section>