.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center;
    background: radial-gradient(ellipse at left top, var(--cor-terciaria), var(--cor-secundaria) 300%);
    height: 100vh; /* Define a altura do container para a tela inteira */
    gap: 2em;
}

.container h2 {
    font: 48px / 1.625 "Vollkorn", sans-serif;
    color: black;
    text-align: left;
    line-height: 2;
}

.container h3 {
    font: 24px / 1.625 "Raleway", sans-serif;
    color: black;
    text-align: left;
    line-height: 1.5;
    
}

.container span {
    background-color: #A3C4BC;
    font: 48px / 1.625 "Vollkorn", sans-serif;
    padding: 0 7.6px;
}

.container a {
    text-decoration: none;
}

.ico {
    display: flex;
    margin-top: 1em;
    transition: .2s ease-in-out;
}

.container a:hover .ico {
    transform: translateX(10px);
}

.selos{
    display: flex;
    justify-content: end;
    gap: 1em;
}

.selos .ico2{
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background-color: #f4bc1d;
    padding: 1em;
    gap: 2em;
}
