<section id="carreiras" class="manchete3">
    <div class="container">
        <a href="carreiras.html" class="decor">
            <h2 class="maior"><span class="txt-destaque">Apaixonado</span> por tecnologia?</h2>
            <h3>Gosta de trabalhar em equipe e desenvolver soluções? <br />Venha fazer parte da nossa equipe e
                aproveite<br class="no-mobile" /> todos os benefícios de entrar na Pd Case.</h3>
            <img src="/seta-preta.svg" class="ico" alt="Avançar" width="48" height="48" />
            <div class="selos">
                <img src="/saude.svg" class="ico2" alt="">
                <img src="/dente.svg" class="ico2" alt="">
                <img src="/home.svg" class="ico2" alt="">
                <img src="/estudo.svg" class="ico2" alt="">
            </div>
        </a>
    </div>
</section>