<div class="class">
    <h1>Core bancário</h1>
</div>
<section class="container">
    <div class="coluna-texto">
        <h3>Integrando clientes e empresas</h3>
        <p>O arcabouço de prestações de serviços dos bancos abrange principalmente os mecanismos de pagamentos e
            recebimetos de empresas conveniadas através de padronização de transações de troca de informações. A parte
            visível ao usuário final consiste no uso de canais eletrônicos e presenciais para realizar de transações.
        </p>
        <br>
        <p>Por trás dos procedimentos de canais, e com objetivo de dar ciência na realização das transações existem uma
            seríe de troca de informações. Cada modalidade de transações possuem especificações próprias, com requisitos
            técnicos de intercâmbio de dados. O conjunto de soluções da PDCASE atende as necessidades específicas de
            cada serviço.</p>
    </div>
    <div class="grid">
        <a href="/arrecadacao"><div class="blocos">Arrecadação</div></a>
        <a href="/compensacao-eletronica"><div class="blocos">Compensação eletrônica</div></a>
        <a href="/pagamento-empresas"><div class="blocos">Pagamento de empresas</div></a>
        <a href="/cobranca-bancaria"><div class="blocos">Cobrança bancária</div></a>
        <a href="/febraban"><div class="blocos">Intercâmbio padrão Febraban</div></a>
        <a href="/beneficiario-inss"><div class="blocos">Beneficiários do INSS</div></a>
        <a href="/debito-direto"><div class="bloco2">Débito Direto Autorizado</div></a>
        <a href="/cesta-de-tarifas"><div class="bloco2">Cesta de tarifas</div></a>
        <a href="/agendamento-debito"><div class="bloco2">Agendamento e débito automático</div></a>
    </div>
</section>