* {
    color: white;
}

h1 {
    font-size: 48px;
    padding: 30px;
    margin: 120px 0px 0px;
    right: 150px;
}

h3 {
    font: 24px / 4 "Raleway", sans-serif;
    color: #FFFFFFD9;
    text-align: left;
    font-weight: 600;
    filter: contrast(12.83);
    letter-spacing: -0.4px;
}

p {
    font: 16px / 1.625 "Raleway", sans-serif;
    line-height: 27px;
    opacity: 0.85;
    display: block;
}

section {
    background-color: #141b23;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding-bottom: 55px;
}

.container1 {
    max-width: 931px;
    padding-top: 55px;
    padding-bottom: 5px;
    text-align: left;
}

.container2 {
    max-width: 1000px;
    padding-top: 30px;
    padding-bottom: 5px;
    text-align: left;
}

.linha  {
    display: flex;
    gap: 30px;
}