<div class="class">
  <h1>Liberação de crédito</h1>
</div>

<section class="container">
  <div class="column-text">
    <p>
      A Fase de liberação do Crédito congrega as etapas de operacionalização do
      Contrato de Crédito, no qual a PC - Proposta de Crédito(ou Financiamento)
      já esta referenda com todos os trâmites aprovados conforme normais
      internas do Banco.
    </p>
    <br />
    <p>
      O ponto de partida indica a geração de numeração de contrato, com a
      marcação de uso da PC como fase de liberação. Dentro desse traâmite são
      ajustadas transaçoes de emissão de contratos, termos anexos e boletos de
      pagamentos. Na deliberação final da fase sob dominio da aprovação de
      contrato são feitas atualizações das garantias oferecidas e na parte
      passiva da Fonte de Recursos.
    </p>
    <h3>Quem aprova, não libera</h3>
    <p>
      Usando a premissa de “Quem aprova, não libera”, a sistematica de liberação
      prevé uma alçada maior para liberação final, onde são sensibilizados os
      módulos de Tesouraria, Cobrança, Consumo de Liberação da PC, Contas a
      Pagar(Liquido de contrato) e ainda a posição de Obrigações de Repasses(Se
      for recursos de Terceiros).
    </p>
  </div>
</section>
