<div class="class">
    <h1>Consultoria</h1>
</div>

<section class="container">
    <div class="coluna-texto">
        <p>O conhecimento das práticas de negócio é fundamental para o sucesso na implantação de projetos de
            sistemas. A expertise das equipes com a realidade dos negócios das empresas permite acelerar o nivelamento
            dos requisitos, resultando numa interação mais produtiva dentro das expectativas dos usuários.
        </p>
        <br>
        <p>A PD Case foca-se no CONHECIMENTO APLICADO À TECNOLOGIA, devido ao direcionamento evidenciado nos serviços
            prestados junto aos bancos, aprimorados nas práticas de negócios do mercado financeiro resultando na criação
            de um portifólio de soluções segmentado pela visão de trabalho junto ao mercado.
        </p>
        <br>
        <p>
            As soluções oferecidas pela PD Case congregam bases de conhecimento que podem ser adaptadas às necessidades
            específicas de cada cliente, encurtando etapas nos processos de levantamento, elaboração e concepção de
            sistemas corporativos. Dentro do segmento de consultoria em negócios da PD Case pode-se destacar as
            seguintes especializações:
        </p>
        <br>
        <h3>Consultoria em projetos</h3>
        <p>A PD CASE oferece projetos de sistemas corporativos resultantes de práticas sedimentadas no mercado, nas
            quais o cliente pode ajustar suas necessidades na visão de ofertas de seus produtos e serviços.</p>
    </div>
    <div class="grid">
        <div class="bloco2">
            <div class="verde">Tecnologia</div>
            <div class="amarelo">A implantação de sistemas no mercado financeiro requer capacitação em soluções de
                missão crítica, que necessitam de alta disponibilidade e escala. Por meio da experiência em serviços
                prestados nas mais diversas plataformas envolvendo alto nível de processamento e manipulação de dados,
                nossa equipe é capaz de dimensionar e avaliar estratégias de construção e implantação, que necessitam de
                processamentos rápidos em janelas de tempo extremamente curtas.</div>
        </div>
        <div class="bloco2">
            <div class="verde">BI - Business Inteligence</div>
            <div class="amarelo">O sucesso na construção de soluções de BI depende do mapeamento dos dados dos sistemas
                legados. Por meio do entendimento processual e da arquitetura de dados do CORE BUSINESS, pode-se
                fornecer interfaces ajustadas às necessidades gerenciais da alta direção. Nesse nicho específico, a PD
                CASE possui certificação para trabalhar com produtos ORACLE, através da construção dos serviços de
                integração e aplicação dos softwares ORACLE.
            </div>
        </div>
        <div class="bloco2">
            <div class="verde">Business Process e Compliance</div>
            <div class="amarelo">A mitigação do risco operacional no mercado financeiro fundamenta-se no
                auto-conhecimento dos processos de negócios, nos quais deve-se aplicar restrições para verificação de
                conformidade no trâmite de cada processo. Por meio da implementação de ferramentas de BP, pode-se fazer
                a modelagem e estruturação dos processos internos ou relacionados ao tratamento com clientes, dando
                subsídios para avaliação e revisão de conformidade com a regulamentação interna ou legal</div>
        </div>
    </div>
</section>