* {
    color: white;
}

h1 {
    font-size: 48px;
    padding: 30px;
    margin: 120px 0px 0px;
    filter: contrast(12.83);
}

h3 {
    font: 24px / 4 "Raleway", sans-serif;
    color: #FFFFFFD9;
    text-align: left;
    font-weight: 600;
    filter: contrast(12.83);
    letter-spacing: -0.4px;
}

p {
    font: 16px / 2 "Raleway", sans-serif;
    color: white;
    line-height: 26px;
    filter: contrast(12.83);
    opacity: 0.9;
    margin-bottom: 7px;
}

.container {
    height: auto;
    background-color: #141B23;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
}

.coluna-texto {
    max-width: 960px;
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.verde {
    background-color: #a3c4bc;
    width: 288px;
    height: 72px;
    max-width: 960px;
    margin-top: 45px;
    padding: 28px 20px;
    color: black;
    font-weight: 600;
    white-space: nowrap;
}

.amarelo {
    width: 288px;
    height: 614px;
    background-color: #f4bc1d;
    padding: var(--margem);
    line-height: 28px;
    color: black;
}

@media screen and (max-width: 999px) {

    * {
        margin: 0;
    }
   
   
    /* Class */
   
    .class {
      height: 136px;
    }
   
    /* Container */
   
    .container {
        padding-bottom: 20px;
      }
   
    /* Títulos */
   
    h1 {
      font-size: 2em;
      margin: 0 20px;
      margin-top: 80px;
      padding: 0;
    }
   
    h3 {
      font-size: 20px;
      line-height: 33px;
      letter-spacing: -0.5px;
      padding-top: 12px;
    }
   
    .h33 {
      padding-top: 20px;
      font-size: 20px;
    }
   
    /* Column Text */
   
    .column-text {
      padding: 16px;
      margin-top: -40px;
      padding-bottom: -110px;
      width: 100%;
    }
   
    .titulo-column-text {
      font-size: 21px;
      line-height: 33px;
      letter-spacing: -0.7px;
      padding-top: 60px;
      padding-bottom: 15px;
    }
   
    /* Coluna Texto e Linha */
   
    .coluna-texto {
      padding: 16px;
      margin-top: -45px;
      padding-bottom: 20px;
      text-align: left;
      height: 100%;
      max-width: 1000px;
    }
   
    .linha {
      flex-direction: column;
      gap: 0px;
      width: 100%;
    }
 
    p {
        margin-left: 0;
        padding-left: 0;
        text-align: left;
      }
  

    /* Formatação do grid e dos blocos*/

    .grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .amarelo{
        width: 93vw;
        height: auto;
        padding: var(--margem);
    }

    .verde{
        width: 93vw;
        height: 56px;
        padding: 18px 0px 0px 20px;
    }

}