<div class="class">
    <h1>Mensagens SMS</h1>
</div>

<section class="container">
    <div class="column-text">
        <p>O mecanismo de SMS, com texto informativo limitado, é um instrumento ágil em dar conhecimento ao cliente de
            fato direcionado sob sua responsabilidade, tendo em vista a rapidez no entendimento da mensagem e na difusão
            de uso de dispositivos móveis(Celulares).</p>
        <br>
        <p>Qualquer movimentação financeiro pode ter confirmação feita por alerta descritivo. A ocorrência de possiveis
            fraudes em cartões de crédito, tentativa de acesso em conta corrente ou mesmo antecipação de despesas
            agendadas(ex. DDA, debito automático etc) podem ser alertadas diretamente ao usuário.</p>
    </div>
    <div class="linha">
        <div class="coluna-texto">
            <h3>Segurança</h3>
            <p>Na segurança de transação podem ser enviadas senhas temporárias(PIN), que servem de controle de aceite e
                aprovação de transações em canais elettrônicos.</p>
        </div>
        <div class="coluna-texto">
            <h3>Customizado</h3>
            <p>Existe uma gama possibilidades de aplicação do SMS no relacionamento com clientes, que devem ser
                customizadas de acordo politica de segurança.</p>
        </div>
    </div>
</section>