<div class="class">
  <h1>PDBank</h1>
</div>

<section class="container">
  <div class="column-text">
    <p>
      Voltando o seu foco para o mercado bancário, a PD Case desenvolveu o
      PD_BANK. Trata-se de um conjunto de soluções corporativas que visam
      atender ao "CORE BUSINESS" dos bancos.
    </p>
    <p>
      A alta da economia brasileira, novas regras do Bacen, disputa mais
      acirrada pelas carteiras de clientes, e rápidas e constantes mudanças
      tecnológicas compõem um cenário exigente para os bancos. Acompanhar este
      mercado tem demandado grandes investimentos. A implementação de novos
      produtos e serviços tem onerado e retardado os cronogramas em muitas
      instituições.
    </p>
    <h3>Motivação / Justificativa</h3>
    <p>
      Com a existência de plataformas tecnológicas heterodoxas, os serviços de
      desenvolvimento de novos softwares muitas vezes são replicados como forma
      de agregar as regras de negócios dentro dos diversos canais ou dentro do
      core bancário.
    </p>
    <p>
      Em regra geral, as soluções imediatistas e/ou atrasos nos cronogramas
      quase sempre prejudicam o acompanhamento da instituição às tendências de
      mercado. Daí, a expectativa por sistemas do CORE BUSINESS mais ágeis,
      robustos, confiáveis, e facilmente gerenciáveis, resultam em frustração em
      alguns bancos.
    </p>
    <div class="linha">
      <div class="coluna-texto">
        <h3>Metodologia</h3>
        <p>
          Com o conhecimento das práticas legais e comerciais de mercado, as
          soluções PD_BANK permitem queimar etapas nos processos de
          desenvolvimento e implementação de novos produtos e serviços, já que
          na atividade bancária, um grande fator de alavancagem de novos
          negócios está balizado numa plataforma de sistemas bem projetados com
          flexibilidade de mudança que permita acompanhar as novas tendências
          mercadológicas.
        </p>
        <p>
          A flexibilidade no uso das soluções PD_BANK permitem aos bancos usarem
          somente os módulos mais adequados aos nichos de mercados a serem
          explorados, sendo estes facilmente adaptáveis às particularidades
          operacionais e de negócio em total conformidade com os normativos dos
          órgãos reguladores.
        </p>
      </div>
      <div class="coluna-texto">
        <h3>O que foi alcançado</h3>
        <p>
          As soluções PD_BANK atendem, de forma integrada, modular e
          parametrizada todas as necessidades de uma instituição financeira:
        </p>
        <ul>
          <li>
            Processamento, controle e gestão das áreas de
            <a href="/controladoria">Controladoria e Controles Internos;</a>
          </li>
          <li>Gestão de Clientes, Mercado & Captação;</li>
          <li><a href="outra-portal-credito">Crédito & Fomento;</a></li>
          <li><a href="core-bancario">Serviços Bancários;</a></li>
          <li>Suporte aos Canais de Atendimento.</li>
        </ul>
      </div>
    </div>
    <h3>Mais informações</h3>
  </div>
  <div class="grid">
    <a href="/cadastro-pessoas"><div class="blocos">Gestão de clientes</div></a>
    <a href="/controladoria"><div class="blocos">Controladoria</div></a>
    <a href="/captacoes-mercados"
      ><div class="blocos">Captação de mercado</div></a
    >
    <a href="/outra-portal-credito"><div class="blocos">Crédito e fomento</div></a>
    <a href="/core-bancario"><div class="blocos">Servicos bancários</div></a>
  </div>
</section>
